<div class="row">
  <div class="col-sm-2 col-xs-6">
    <span class="text-primary"> Applicant: </span>
  </div>
  <div class="col-sm-10 col-xs-6">
    <%= clan_application.user.username %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-6">
    <span class="text-primary"> Applied On:</span>
  </div>
  <div class="col-sm-10 col-xs-6">
    <%= clan_application.created_at.strftime('%m/%d/%Y') %>
  </div>
</div>
<div class="row">
  <div class="col-sm-2 col-xs-6">
    <span class="text-primary"> Status:</span>
  </div>
  <div class="col-sm-10 col-xs-6">
    <%= clan_application.view_status %>
  </div>
</div>
<% if clan_application.reviewer.present? %>
  <div class="topmrg_20"></div>
  <div class="row">
    <div class="col-sm-2 col-xs-6">
      <span class="text-primary"> Reviewed By:</span>
    </div>
    <div class="col-sm-10 col-xs-6">
      <%= clan_application.reviewer.username %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2 col-xs-6">
      <span class="text-primary"> Reviewed On:</span>
    </div>
    <div class="col-sm-10 col-xs-6">
      <%= clan_application.reviewed_at.strftime('%m/%d/%Y') %>
    </div>
  </div>
<% end %>
<div class="topmrg_20"></div>
<% clan_application.answers.each do |answer| %>
<div>
  <div class='text-primary'><%= answer.question.name %></div>
  <div><%= answer.answer %></div>
</div>
<% end %>

<% if clan_application.reviewer.nil? %>
  <div class="topmrg_20"></div>
  <div class="row">
    <div class="col-sm-3 col-xs-12">
      <%= link_to 'Accept', accept_clan_clan_application_path(clan_application.clan, clan_application), method: 'patch', class: 'btn btn-primary btn-full' %>
    </div>
    <div class="col-sm-3 col-xs-12">
      <%= link_to 'Reject', clan_clan_application_path(clan_application.clan, clan_application), method: 'delete', class: 'btn btn-primary btn-full' %>
    </div>
  </div>
<% end %>
