<div class="modal fade" id="clan_applications_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">
          Applications
        </h4>
      </div>
      <div class="modal-body contract-details">
        <table class="table pending_application_desktop">
          <tr class="text-primary">
            <th></th>
            <th>Applicant</th>
            <th>PSA</th>
            <th>Exp</th>
            <th>CR</th>
            <th>Age</th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
          <% @clan_applications.each_with_index do |application, index|%>
            <tr>
              <td>
                <%= link_to player_path(application.user) do %>
                  <%= image_tag application.user.avatar_url, :class=> 'avatar-sm' %>
                <% end %>
              </td>
              <td> <%= application.user.username %></td>
              <td>
                <%if application.user.psa_rating == 0 %>
  						    N/A
  					    <% else %>
  						    <span class="psa-rating-read-only" data-score="<%= application.user.psa_rating %>"><%= application.user.psa_rating %></span>
  					    <% end %>
              </td>
              <td><%= application.user.contracts_completed.to_s %></td>
              <td><%= application.user.cancellation_rate.present? ? "#{application.user.cancellation_rate}%" : 'N/A' %></td>
              <td><%= application.user.public_age ? application.user.age : 'Not Public' %></td>
              <td class="col-sm-1"><%= link_to 'Accept', accept_clan_clan_application_path(@clan, application), method: 'patch', class: 'btn btn-primary col-sm-12' %></td>
              <td class="col-sm-1"><%= link_to 'View', '#', class: 'btn btn-primary col-sm-12', data: { toggle: "collapse", target: "#view_application_#{application.id}" } %></td>
              <td class="col-sm-1"><%= link_to 'Reject', clan_clan_application_path(@clan, application), method: 'delete', class: 'btn btn-primary col-sm-12' %></td>
            </tr>
            <tr id="view_application_<%= application.id %>" class="collapse">
              <td colspan="9">
                <% application.answers.each do |answer| %>
                  <div>
                    <div class='text-primary'><%= answer.question.name %></div>
                    <div><%= answer.answer %></div>
                  </div>
                <% end %>
              </td>
            </tr>
          <% end %>
        </table>
        <div class="pending_application_mobile">
          <% @clan_applications.each_with_index do |application, index|%>
            <div class="row">
              <div class="col-xs-3">
                <%= link_to player_path(application.user) do %>
                  <%= image_tag application.user.avatar_url, :class=> 'avatar-sm' %>
                <% end %>
              </div>
              <div class="col-xs-9">
                <div class="row">
                  <span class="text-center"><span class="text-primary">Username:</span> <%= application.user.username %></span>
                  <button class="btn-link add-icon-top" data-toggle="collapse" data-target="#view_application_actions_<%= application.id%>">
                    <span class="fa fa-plus"></span>
                  </button>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <span class="text-primary">PSA-</span>
                    <%if application.user.psa_rating == 0 %>
      						    N/A
      					    <% else %>
      						    <span class="psa-rating-read-only" data-score="<%= application.user.psa_rating %>"><%= application.user.psa_rating %></span>
      					    <% end %>
                  </div>
                  <div class="col-xs-6">
                    <span class="text-primary">Exp-</span>
                    <%= application.user.contracts_completed.to_s %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-xs-6">
                    <span class="text-primary">CR-</span>
                      <%= application.user.cancellation_rate.present? ? "#{application.user.cancellation_rate}%" : 'N/A' %>
                  </div>
                  <div class="col-xs-6">
                      <span class="text-primary">Age-</span>
                      <%= application.user.public_age ? application.user.age : 'Private' %>
                  </div>
                </div>

              </div>
              <div class="collapse" id="view_application_actions_<%= application.id%>">
                <div>
                  <div id="view_application_mobile<%= application.id%>" class="">
                    <% application.answers.each do |answer| %>
                    <div>
                      <div class='text-primary'><%= answer.question.name %></div>
                      <div><%= answer.answer %></div>
                    </div>
                    <% end %>
                  </div>
                  <div class="col-xs-12">
                    <%= link_to 'Accept', accept_clan_clan_application_path(@clan, application), method: 'patch', class: 'btn btn-primary col-xs-12 btn-full' %>
                  </div>
                  <div class="col-xs-12">
                    <%= link_to 'Reject', clan_clan_application_path(@clan, application), method: 'delete', class: 'btn btn-primary col-xs-12 btn-full' %>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
