$('.modal-title').html('Select Your Avatar');
$('.modal-body').html('<%= j render "grid", avatars: @avatars %>');
$('.modal-footer:not(".modal-contract-footer")').removeClass('hidden');
$('.modal-footer').html('<%= j render "footer", page: @page, total_pages: @total_pages %>');
$('.modal-content').addClass('system-avatars-modal');
$('.modal').modal('show');

(function() {
    // this will attach listeners to the images and set the user's avatar in their profile
    if ($('body').hasClass('avatar-bound')) return;
    $('body').addClass('avatar-bound');

    $('.modal-body').on('click', '.system-avatars a', function(e) {
        var $img = $('#avatar_container img'),
            src = $(this).attr('data-file-path'),
            aid = $(this).attr('data-system-avatar-id');

        if ($img.length > 0) {
            $img.attr('src', src);
        }
        else {
            $('#avatar_container').prepend($('<img/>').attr('src', src).addClass('avatar-md'));
        }
        $('#user_system_avatar_id').val(aid);
        $('.modal').modal('hide');
        e.preventDefault();
    });

})();
