<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="devise-block">
					<h1 class="text-center">Resend confirmation instructions</h1>
					<%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
					<%= devise_error_messages! %>

					<div class="form-group clearfix">
						<label>Enter your email</label>
						<%= f.email_field :email, autofocus: true, class: "form-control" %>
					</div>
					<div class="form group text-center-md">
						<%= f.submit "Resend Confirmation", class: "btn btn-primary btn-x" %>
					</div>

				<% end %>
			</div>
		</div>
	</div>
</div>
