<section class="content-block dash-block">
    <div class="container p-x-0-xs">
        <div class="block-grid">
            <div class="block-grid-header">
                <div class="row">
                    <div class="col-md-10 col-sm-8">
                        <h2 class="mt0">
                            <%= header %>
                        </h2>
                    </div>
                    <div class="col-md-2 col-sm-4 text-right-md text-right-sm hidden-xs">
                        <%= link_to 'VIEW ALL TITLES', games_path, class: "btn btn-primary btn-block" %>
                    </div>
                </div>
                <ul class="mss-list clearfix">
                    <li class="mss">
                        <%= link_to add_game_modal_path(:game_id => game_collection.first.id), class: "add-icon-top", remote: true do %>
                            <span class="fa fa-plus"></span>
                        <% end %>
                        <%= link_to add_game_modal_path(:game_id => game_collection.first.id), remote: true do %>
                            <%= image_tag(game_collection.first.game_jumbo) %>
                            <!-- TODO: Link to rosters grid with selected game as a query param -->
                            <div class="mss-details">
                                <h4 class="mb0"><%= game_collection.first.title %></h4>
                                <h5 class="mt0">Release Date: <%= game_collection.first.release_date.present? ? short_date(game_collection.first.release_date) : '&mdash;'.html_safe %></h5>
                            </div>
                        <% end %>
                    </li>
                </ul>

                <ul class="mss-list clearfix">
                    <% game_collection[1..3].each do |game| %>
                        <li class="mss col-third-rel">
                            <%= link_to add_game_modal_path(:game_id => game.id), class: "add-icon-top", remote: true do %>
                                <span class="fa fa-plus"></span>
                            <% end %>
                            <%= link_to add_game_modal_path(:game_id => game.id), remote: true do %>
                                <!-- TODO: Link to rosters grid with selected game as a query param -->
                                <%= image_tag(game.game_cover) %>
                                <div class="mss-details">
                                    <h4><%= game.title %></h4>
                                    <span class="hidden-xs">Release Date: <%= game.release_date.present? ? short_date(game.release_date) : '&mdash;'.html_safe %></span>
                                </div>
                            <% end %>
                        </li>
                    <%end%>
                </ul>
                <%= link_to 'VIEW ALL', games_path, class: "btn btn-primary btn-block visible-xs" %>
            </div>
        </div>
    </div>
</section>
