$('.modal-title').html('Invite User to Clan');

$('.modal-body').html('<%= j render "invite_user_form" %>').addClass('contract-body');

$('.modal-footer:not(".modal-contract-footer")').hide();
$('.modal').modal('show');

$('[data-toggle="tooltip"]').tooltip();

if ($('.game-item input[type="radio"]').length < 2 && $('.game-item input[type="radio"]').length != 0) {
	$('.game-item input[type="radio"]').parent().parent().parent().addClass('selected');
	$('input[type="submit"]').removeClass('disabled').tooltip('destroy');
	$('.game-item input[type="radio"]').prop('checked',true);
}

$('.game-item input[type="radio"]').on('change', function() {
	$('.modal-body label.selected').removeClass('selected');
	$(this).parent().parent().parent().addClass('selected');
	$('input[type="submit"]').removeClass('disabled').tooltip('destroy');
});