<% unless names.empty? %>
    <h4 class="text-center game-modal-alert">
        You already have this title on: <%= names.join(', ') %>
    </h4>
<% end %>
<%= form_for(current_user, {url: profile_add_game_path, method: 'post'}) do |f| %>
	<div class="contract-padding">
		<div class="media">
			<span class="media-left">
				<%= image_tag(game.game_cover, class: "media-object thumbnail-small") %>
			</span>
			<div class="media-body">
				<h3 class="meadia-heading mt0">
					<%= game.title %>
				</h3>
				<div class="row">
					<div class="col-md-6">
						<h4>Select your system</h4>
						<div class="form-group">
							<%= f.collection_select :game_system_ids, game.game_systems.all, :id, :title, {include_blank: false}, {:class => "form-control", hide_label: true, :multiple => false} %>
						</div>
					</div>
					<div id="ign-container" class="col-md-6">
						<!-- TODO: If user selects a system they don't have an IGN for; prompt for IGN here -->
						<h4>Enter your <span id="ign-type"></span> IGN</h4>
						<div class="form-group">
							<input id="ign" type="text" name="[system]ign" class="form-control">
						</div>
					</div>
                        <input name="[game]id" type="hidden" value="<%= game.id %>"/>
				</div>
			</div>
		</div>
	</div>

	<div class="modal-footer contract-padding add-game-footer">
		<button type="submit" class="btn btn-lg btn-outline pull-right-md">Submit</button>
	</div>
<% end %>
