$('.modal-title').html('Add <%= @game.title %> to Your Titles');
$('.modal-body').html('<%= j render "add_game_form", game: @game, names: @system_names_for_game %>').addClass('contract-body');
$('.modal-footer-label').html('');
$('.modal-footer:not(".add-game-footer")').addClass('hidden');
$('.modal').modal('show');


$('.game-item input[type="radio"]').on('change', function() {
    $(this).parent().parent().parent().parent().children('li').removeClass('selected');
    $(this).parent().parent().parent().addClass('selected');
    $('input[type="submit"]').removeClass('disabled').tooltip('destroy');
});

bindGameModal();
