<div class="container">
  <%= render 'layouts/flash' %>
</div>

<% if @invites.any? && 5 == 4 # disabled %>
  <section class="content-block dash-block">
    <div class="container p-x-0-xs">
       <div class="well mt0 mb0 p-x-0-xs">
        <div class="row">
          <div class="col-md-10 col-sm-8 ">
            <h2 class="mt0">Invites</h2>
          </div>
          <div class="col-md-2 col-sm-4 text-right-md text-right-sm">
            <%= link_to 'VIEW ALL', events_path, class: "btn btn-primary btn-block hidden-xs" if @invites.count > 4 %>
          </div>
        </div>
        <%= render 'events/invites' %>
        <%= link_to 'VIEW ALL', events_path, class: "btn btn-primary btn-block visible-xs" if @invites.count > 4 %>
      </div>
    </div>
  </section>
<% end %>

<% if @upcoming_events.any? && 5 == 4 # disabled %>
    <section class="content-block dash-block">
        <div class="container p-x-0-xs ">

            <% if @needs_rated %>
                <%= link_to profiles_path + '/' + current_user.username + '/blocks-and-feedback' do %>
                    <div class="alert alert-warning text-center"><p class="lead">
                        Please <strong>rate</strong> the users you have completed events with.
                    </div>
                <% end %>
            <% end %>

            <div class="well clearfix mb0 mt0 p-x-0-xs">
                <%= render 'dashboard/partials/upcoming_events'%>
            </div>
        </div>
    </section>
<% end %>

<% unless @notices.empty? %>
    <section class="content-block dash-block">
        <div class="container p-x-0-xs">
            <%= render 'dashboard/partials/notices', notices: @notices %>
        </div>
    </section>
<% end %>

<% if 5 == 4 # disabled %>
    <section class="content-block dash-block">
        <div class="container p-x-0-xs">
            <div class="well clearfix mb0 mt0 p-x-0-xs">
                <%= render 'dashboard/partials/my_games' %>
            </div>
        </div>
    </section>
<% end %>

<% if 5 == 4 && @relevant_events.present?  # disabled %>
    <section class="content-block dash-block">
        <div class="container p-x-0-xs">
            <%= render 'dashboard/partials/relevant_events' %>
        </div>
    </section>
<% end %>

<% if 5 == 4 %>
    <% unless @clan_notices.empty? # disabled %>
        <section class="content-block dash-block">
            <div class="container p-x-0-xs">
                <div class="well mt0 mb0 p-x-0-xs">
                    <%# render 'dashboard/partials/notices', notices: @clan_notices, path: 'clan' %>
                </div>
            </div>
        </section>
    <% end %>
<% end %>

<% unless @clans.empty? %>
    <section class="content-block dash-block">
        <div class="container p-x-0-xs">
            <%= render 'dashboard/partials/clans', clans: @user_clans, header: 'My Clans', is_mine: true %>
        </div>
    </section>

    <section class="content-block dash-block">
        <div class="container p-x-0-xs">
            <%= render 'dashboard/partials/clans', clans: @clans, header: 'Active Clans', is_mine: false %>
        </div>
    </section>
<% end %>

<%= render 'dashboard/partials/games/games_block' %>

<%#= render 'dashboard/partials/streaming_users' if @streaming_users %>

<% if @streaming_users %>
    <section class="content-block dash-block">
	<div class="container p-x-0-xs">
	    <%= render 'dashboard/partials/now_playing' %>
        </div>
    </section>
<% end %>
