<div class="col-md-3">
<h2 style="margin-top:0px">Messages</h2>

	<div class="expand-sidenav">
		<div class="expand-sidenav-toggle">
			<h3 class="mb0"><a data-toggle="collapse" data-target="#side-nav-collapsible" aria-expanded="false">Menu</a></h3>
		</div>
		<div class="side-nav-container collapse in" id="side-nav-collapsible">
			<ul class="nav side-nav">

				<li class="<%= @box_type == 'Inbox' ? 'active' : '' %>">
					<a href="<%= messages_path %>">
						<span class="badge pull-right"><%= current_user.mailbox.inbox(read: false).count  %></span>Inbox
					</a>
				</li>

				<li class="<%= @box_type == 'Notifications' ? 'active' : '' %>">
					<a href="/notifications">
						<span class="badge pull-right"><%= current_user.mailbox.notifications(read: false).count  %></span>Notifications
					</a>
				</li>

				<li class="<%= @box_type == 'Trash' ? 'active' : '' %>">
					<a href="<%= trash_messages_path %>">
						Trash
					</a>
				</li>

				<li class="<%= @box_type == 'Settings' ? 'active' : '' %>">
					<a href="<%= edit_profile_notifications_path %>">
						Settings
					</a>
				</li>

			</ul>
		</div>
	</div>

</div>