<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<%= render 'sidebar' %>
			<%= render 'messages' if @box_type != "Notifications" %>
			<%= render 'notifications' if @box_type == "Notifications" %>
		</div>
	</div>
</div>
