<li class="<%= browser.device.mobile? ? 'col-half col-half-xs' : 'col-fifth' %> card-wrapper player-card p-x-0-xs" id="player-<%= player.id%>">
	<button class="btn-link add-icon-top">
		<span class="fa fa-plus"></span>
	</button>
	<div class="player-add-menu">
		<ul class="list-unstyled">
			<% if current_user.present? && current_user.has_open_rosters? %>
				<li><%= link_to "Invite to Roster", invite_user_path(user_id: player.id), remote: true %></li>
			<% end %>
			<% if true #current_user.can_invite_clan_members? %>
				<li><%= link_to "Invite to Clan", new_clan_invite_path(user_id: player.id), remote: true %></li>
			<% end %>
			<li class="player-favorite">					
				<% if current_user.present? && current_user.is_favoriting_user?(player) %>
					<%= render "shared/favorites/remove", player: player %>
				<% else %>
					<%= render "shared/favorites/add", player: player %>
				<% end %>
			</li>
		</ul>
	</div>
    <%= link_to player_path(player) do %>
		<%= image_tag(player.avatar_url, class: 'avatar-lg') %>
		<div class="card-content">
			<div class="card-body card-pad">
				<p class="text-gray">
				  	<strong class="text-primary">Name:</strong> <%= player.username %>
				</p>
				<p class="text-gray">
				  	<strong class="text-primary">PSA:</strong> 
				  	<%if player.psa_rating == 0 %>
						N/A
					<% else %>
						<span class="psa-rating-read-only" data-score="<%= player.psa_rating %>"></span>
					<% end %>
				</p>
				<p class="text-gray">
				  	<strong class="text-primary">Exp:</strong> <%= player.contracts_completed.to_s %> <%# contracts_completed is the same as experience but is persisted to user model %> 
				</p>
				<p class="text-gray">
				  	<strong class="text-primary">Age:</strong> <%= player.public_age ? player.age : 'Not Public' %> <%# do we need to hide ages still? %>
				</p>
			</div>
		</div>
	<% end %>
</li>
