<div class="background-block content-area">
  <div class="container">
    <div class="well clearfix">

      <div class="row">
      	<div class="col-md-10 col-sm-8">
      		<h2 class="mt0">Players</h2>
      	</div>
        <div class="col-md-2 col-sm-4 text-right-md text-right-sm">
          <button class="btn btn-outline btn-block-xs" data-toggle="collapse" data-target="#collapse-filters" aria-expanded="false" aria-controls="collapseExample">Filter Options</button>
        </div>
      </div>

      <div class="filter-panel collapse" id="collapse-filters">
        <!-- Player Filter -->
        <%= form_tag '', :method => :get do %>  
          <div class="player-filter">
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group">
                    <label>Title</label>

               		<%= select_tag "select_filter[game][]", 
               		options_from_collection_for_select(@sorted_games, 'id', 'title', 
               		@select_params[:game]),  multiple: true, size: 5, class: 'form-control chosen-select' %>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="form-group">
                    <label>System</label>
                    <div class="chosen99">
                  		<%= select_tag "select_filter[game_system][]", 
                  		options_from_collection_for_select(@sorted_systems, 'id', 'title', @select_params[:game_system]), {multiple: true, size: 5, class: 'form-control chosen-select', prompt: 'Select a System'} %>
                  </div>
                  </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Game Type</label>
                  <%= select_tag "select_filter[will_play]", 
                  		options_for_select(User::GAME_TYPE, @select_params[:will_play]), {class: 'form-control', prompt: 'Select a Game Type'} %>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>User Search</label>
                  	<%= text_field_tag "filter[username]", @filter_params[:username], {class: 'form-control', placeholder: 'Enter username'}  %> 
                </div>
              </div>
          
            </div>


                <h3>Gaming Information</h3>

                

                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Newb Patience</label>
                      
                       <%= select_tag "select_filter[newbie_patience_level]", 
                  		options_for_select(['High', 'Low'], @select_params[:newbie_patience_level] || 'Select a Newbie Patience Level' ), {class: 'form-control', prompt: 'Select a Newbie Patience Level'} %>
                      
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Experience</label>
                      
                   <%= select_tag "range_filter[contracts_completed]", 
                  		options_for_select(User::EXPERIENCE_RANGES, integer_range_to_string(@range_params[:contracts_completed])), {class: 'form-control', prompt: 'Select an Experience Level'} %>

                    
                    </div>
                  </div>
                  
                  <div class="col-md-4">

                    <div class="form-group">
                      <label>Age Range</label>
              		    <%= select_tag "range_filter[date_of_birth]", options_for_select(User::AGE_RANGES, date_range_to_string(@range_params[:date_of_birth]) || ''), {class: 'form-control', prompt: ''} %>
                    </div>
                  </div>
                </div>

                <div class="row">
               
                    <div class="col-md-4">
                    <div class="form-group">
                      <label>PSA Rating</label>
                    <%# disabled until determine purpose of field %> 
                    <%= select_tag "range_filter[psa_rating]", 
                      options_for_select(User::RATING_RANGES, integer_range_to_string(@range_params[:psa_rating])), {class: 'form-control', prompt: ''} %>
                    </div>
                  </div>
                    
                  <div class="col-md-4">
                    <div class="form-group">
                      <label>Sort by Last Activity</label>
                      <div class="form-group">
                    	 <label class="switch">
            						  <%= check_box_tag :last_activity_sort, 'true', @last_activity_sort, {class: 'switch-input'} %>
            				      <span class="switch-label" data-on="Yes" data-off="No"></span>
            				      <span class="switch-handle"></span>
            				    </label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <a class="btn btn-danger btn-block" href="/looking-for-players">Reset</a>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <%= submit_tag 'Submit', class: "btn btn-primary btn-block wg-external-submit-button"%> 
                    </div>
                  </div>
                </div>
              
          </div><!-- Player Filter -->
        <% end %> 
      </div>

      <div class="roster-invites-wrapper clearfix">
          <ul class="list-unstyled">         
             <%= render :partial => 'player', collection: @players, as: :player %>
         </ul>
      </div>
      <div class="row">
        <div class="col-md-12 text-center">
          <div>  
            <%= paginate @players %> 
          </div>
        </div>
      </div>

<!--       <div class="row">
        <div class="col-md-12 text-center">
          <div class="pagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">
            <ul class="pagination">
              <li class="pagination-item--wide first"> <a class="pagination-link--wide first" href="#">Previous</a> </li>
              <li class="pagination-item first-number"> <a class="pagination-link" href="#">1</a> </li>
              <li class="pagination-item"> <a class="pagination-link" href="#">2</a> </li>
              <li class="pagination-item is-active"> <a class="pagination-link" href="#">3</a> </li>
              <li class="pagination-item"> <a class="pagination-link" href="#">4</a> </li>
              <li class="pagination-item"> <a class="pagination-link" href="#">5</a> </li>
              <li class="pagination-item--wide last"> <a class="pagination-link--wide last" href="#">Next</a> </li>
            </ul>

          </div>
        </div>
      </div> -->
      
    </div>
  </div>
</div>
