<% gridSplit = 12 %>
<% if clans and clans.length > 0 %>
	<% if clans.length == 4 %>
		<% gridSplit = 4 %>
	<% elsif clans.length == 3 %>
		<% gridSplit = 6 %>
	<% end %>

	<div class="block-grid">
		<div class="block-grid-header">
			<div class="row">
				<div class="col-md-10 col-sm-8">
					<h2 class="mt0">
						<%= header %>
					</h2>
				</div>
				<div class="col-md-2 col-sm-4 text-right-md text-right-sm hidden-xs">
					<%= link_to 'VIEW ALL', clans_path(my_clans: is_mine), class: "btn btn-primary btn-block" %>
				</div>
			</div>

			<ul class="mss-list clearfix">
	            <li class="mss">
	                <%= link_to (clans_path() + '/' + clans.first.id.to_s) do %>
	                    <%= image_tag(clan_jumbo_url(clans.first)) %>
	                    <div class="mss-details">
	                        <h4 class="mb0"><span class="fa fa-shield"></span> <%= clans.first.name %></h4>
	                        <%= clans.first.top_3_games.first.title rescue nil %> &ndash; <span class="fa fa-group"></span> <%= pluralize((clans.first.clan_members.count), 'member') %><br>
	                        <%= pluralize((clans.first.get_contracts_upcoming.count), 'Upcoming event') %>
	                    </div>
	                <% end %>
	            </li>
	        </ul>

	        <ul class="mss-list clearfix">
	            <% clans[1..3].each do |clan| %>
	                <li class="mss col-half">
	                    <%= link_to (clans_path() + '/' + clan.id.to_s) do %>
	                        <%= image_tag(clan_mobile_jumbo_url(clan)) %>
	                        <div class="mss-details">
	                            <h4 class="mb0"><span class="fa fa-shield"></span> <%= clan.name %></h4>
	                        	<%= clan.top_3_games.try(:first).try(:title) %> &ndash; <span class="fa fa-group"></span> <%= pluralize((clan.clan_members.count), 'member') %><br>
	                        	<%= pluralize((clan.get_contracts_upcoming.count), ' Upcoming event') %>
	                        </div>
	                    <% end %>
	                </li>
	            <%end%>
	        </ul>
			<%= link_to 'VIEW ALL', clans_path, class: "btn btn-primary btn-block visible-xs" %>
		</div>
	</div>
<% end %>
