<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="devise-block">
					<h1 class="text-center">Sign In</h1>
					<% if is_mobile_app? %>
						<%= render 'layouts/flash' %>
						Please press the back button and use the app to log in.
					<% else %>
						<%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
							<%= render 'layouts/flash' %>
							<%= f.text_field :email, autofocus: true %>
							<%= f.password_field :password, autocomplete: "off" %>

							<div class="form-group">
								<div class="row">
									<div class="col-sm-6">
										<% if devise_mapping.rememberable? -%>
											<%= f.check_box :remember_me %>
										<% end -%>
									</div>
									<div class="col-sm-6 text-right-md" style="margin-top: 10px;">
										<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
										  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
										<% end -%>
									</div>
								</div>
							</div>

							<div class="form group text-center-md">
								<%= f.submit "Log in", class: "btn btn-primary btn-x" %>
							</div>
						<% end %>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
