<h3 class="text-primary">BIO</h3>
<p>
	<%= @clan.bio %>
</p>

<h3 class="text-primary">GROUND RULES</h3>
<p>
	<%= @clan.ground_rules %>
</p>

<h3 class="text-primary">Requirements</h3>
<p>
	<%= @clan.requirements %>
</p>