

  <!-- member table -->
  <h3 >Removed Members</h3>
  <div class="row">
    <div class="col-md-4">Username</div>
    <div class="col-md-4">Email</div>
    <div class="col-md-2">Rank</div>
    <div class="col-md-2"></div>
  </div>
  <% @blocked_members.each do |clan_member|%>
    <div class="row">
      <div class="col-md-4"><%= clan_member.user.username %></div>
      <div class="col-md-4"><%= clan_member.user.email %></div>
      <div class="col-md-2"><%= clan_member.clan_rank.title %></div>
      <div class="col-md-2">
        <p class='clan_member_unblock text-primary btn' data-clan="<%= clan_member.clan_id%>" data-id="<%=clan_member.id%>" id="member_unblock_<%= clan_member.id %>"> Unblock  </p>
      </div>
    </div>
  <% end %>
  <%= paginate @blocked_members, remote: true %>
