

  <!-- member table -->
  <h3 >Members</h3>
  <table class="table table-striped sortable">
    <thead>
      <tr>
        <th class="col-md-2">Username</th>
        <th class="col-md-2">Rank</th>
        <th class="col-md-1">Sign in count</th>
        <th class="col-md-2">Member Since</th>
        <th class="col-md-2">Last Sign In</th>
        <th class="col-md-2">Last Payment Data and Amount</th>
        <th class="col-md-1"></th>
      </tr>
    </thead>
    <tbody>
      <% @clan_members.each do |clan_member|%>
        <tr>
          <td class="col-md-2"><%= clan_member.user.username %></td>
          <td class="col-md-2">
            <div class="form-group">
              <%= select_tag 'member_clan_rank_id', options_for_select(@clan.clan_ranks.map{|rank| [rank.title, rank.id]}, clan_member.clan_rank_id), class: 'form-control clan_member_rank_select', data: {id: clan_member.id, clan: clan_member.clan_id} %>
            </div>
          </td>
          <td class="col-md-1"><%= clan_member.user.sign_in_count%></td>
          <td class="col-md-2"><%= clan_member.user.created_at.strftime('%m/%d/%Y')%></td>
          <td class="col-md-2"><%= clan_member.user.last_sign_in_at.present? ? clan_member.user.last_sign_in_at.strftime('%m/%d/%Y') : '' %></td>
          <td class="col-md-2">-</td>
          <td class="col-md-1">
            <p class='clan_member_remove text-primary btn' data-clan="<%= clan_member.clan_id%>" data-id="<%=clan_member.id%>" id="member_remove_<%= clan_member.id %>"> Remove  </p>
          </td>
        </tr>
      <% end %>
    </tbody>
</table>
  <%= paginate @clan_members, remote: true %>
