<div class="modal fade" id="donate_popup" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	    <%= form_for(@clan_donation, url: clan_clan_donations_path( @clan )  ) do |f| %>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">
	          Donation
	        </h4>
	      </div>
	      
	      <div class="modal-body contract-details">
	      	<div class="form-group">
		        <%= f.hidden_field :clan_id%>
		        <%= f.hidden_field :user_id, value: current_user.id %>
            <%= f.label :amount_dollars, 'Donation Amount' %>
		      	<%= f.number_field :amount_dollars, class: 'form-control', placeholder: 'in dollars', step: '.25', value: @clan_donation.amount_dollars %>
		      	<div class="topmrg_20"></div>
		      	<div class="row">
	    				<div class="col-sm-3 col-xs-12">
	      				<%= f.submit class: 'btn btn-primary btn-full', value: 'Submit' %>
		      		</div>
		      		<div class="col-sm-3 col-xs-12">
		      			<button type="button" class="btn btn-primary btn-full" data-dismiss="modal" aria-label="Close">Cancel</button>
		      		</div>
		      	</div>
	      	</div>
	    	</div>
	    <% end %>
	  </div>
	</div>
</div>
