<div class="modal fade" id="clan_contact" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
	  <div class="modal-content">
	   <%= form_tag  clan_clan_contacts_path(@clan), method: "post" do  | f |%>
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	        <h4 class="modal-title">
	          Contact
	        </h4>
	      </div>
	      
	      <div class="modal-body contract-details">
	      	<div class="form-group">
            <%= label_tag :message, 'Enter Message' %>
		      	<%= text_area_tag :message, '', class: 'form-control', placeholder: 'Type a reply...', rows: '5' %>
		      	<div class="topmrg_20"></div>
		      	<div class="text-right-md">
							<%= submit_tag @conversation.present? ? 'Reply' : 'Send',  :class=> "btn btn-primary btn-x", data: { disable_with: "..." } %>
						</div>
	      	</div>
	    	</div>
	    <% end %>
	  </div>
	</div>
</div>
