$(document).ready(function() {
    if ($('#<%= params[:id] %>').length) {
        var id = '<%= params[:id] %>';
        $('#<%= params[:id] %>').hide();
    } else {
        location.assign('/clans/<%= @clan.id %>');
    }
});
