<div class="row">

  <!-- View 5 Clan Events -->
  <div class="col-md-12">
      <ul class="list-unstyled clearfix">
      <div id="clan_events"></div>
        
      </ul>
      <div id="clan_events_paginator"></div>

  </div>
</div>

<!-- View all Clan Events -->
<div class="row">
  <div class="col-md-6 separate">
    <%= link_to "View More", clan_clan_events_path(@clan), class: "btn btn-primary btn-block"  %>
  </div>
  <div class="col-md-6 separate">
      <% if current_user.present? && @clan.can_perform?(current_user, :post_to_events) %>
          <%= link_to "Post event", new_roster_path(clan_event: true, clan_id: @clan.id), class: "btn btn-primary btn-block" %>
      <% end %>
  </div>
</div>

<script>
$.ajax({
  type: "GET",
  data: {
    per_page: 5
  },
  url: "/clans/"+<%= @clan.id %>+"/clan_events.js",
  success: function(resp){}
});
</script>
