<%= form_for(@clan) do |f| %>
  <% if @clan.errors.any? %>
    <div id="error_explanation" class='text-primary'>
      <h2><%= pluralize(@clan.errors.count, "error") %> prohibited this clan from being saved:</h2>

      <ul>
      <% @clan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3>Images</h3>

  <div class="row">
    <div class="col-md-6">
      <h4>Clan Large Banner<br><small>(2200px by 1000px)</small></br><h4>
      <% if @clan.jumbo.present? %>
        <div class="form-group text-center">
          <%= link_to @clan.jumbo.url, target: "_blank" do %>
            <%= image_tag(@clan.jumbo.url) %>
          <% end %>
        </div>
        <div class="form-group">
          <span class="btn btn-primary btn-file btn-block">
              <span class="file-label">REPLACE</span> <%= f.file_field :jumbo, data:{filename_placement: "inside", show_upload: "false"}%>
          </span>
        </div>
      <% else %>
      <%= image_tag(clan_jumbo_url(@clan)) %>
        <span class="btn btn-primary btn-file btn-block">
            <span class="file-label">BROWSE</span> <%= f.file_field :jumbo, data:{filename_placement: "inside", show_upload: "false"}%>
        </span>
        <%= f.hidden_field :jumbo_cache %>
      <% end %>
    </div>
    <div class="col-md-4">
      <h4>Clan Small Banner<br><small>(768px by 380px)</small></br><h4>
      <% if @clan.mobile_jumbo.present? %>
        <div class="form-group text-center">
          <%= link_to @clan.mobile_jumbo.url, target: "_blank" do %>
            <%= image_tag(@clan.mobile_jumbo.url) %>
          <% end %>
        </div>
        <div class="form-group">
          <span class="btn btn-primary btn-file btn-block">
              <span class="file-label">REPLACE</span> <%= f.file_field :mobile_jumbo, data:{filename_placement: "inside", show_upload: "false"}%>
          </span>
        </div>
      <% else %>
      <%= image_tag(clan_mobile_jumbo_url(@clan)) %>
        <span class="btn btn-primary btn-file btn-block">
            <span class="file-label">BROWSE</span> <%= f.file_field :mobile_jumbo, data:{filename_placement: "inside", show_upload: "false"}%>
        </span>
        <%= f.hidden_field :mobile_jumbo_cache %>
      <% end %>
    </div>
    <div class="col-md-2">
      <h4>Clan Avatar<br><small>(480px by 480px)</small></br><h4>
      <% if @clan.cover.present? %>
        <div class="form-group text-center">
          <%= link_to @clan.cover.url, target: "_blank" do %>
            <%= image_tag(@clan.cover.url) %>
          <% end %>
        </div>
        <div class="form-group">
          <span class="btn btn-primary btn-file btn-block">
              <span class="file-label">REPLACE</span> <%= f.file_field :cover, data:{filename_placement: "inside", show_upload: "false"}%>
          </span>
        </div>
      <% else %>
      <%= image_tag(clan_cover_url(@clan)) %>
        <span class="btn btn-primary btn-file btn-block">
            <span class="file-label">BROWSE</span> <%= f.file_field :cover, data:{filename_placement: "inside", show_upload: "false"}%>
        </span>
        <%= f.hidden_field :cover_cache %>
      <% end %>
    </div>
  </div>

  <hr>

  <h3>Information and Preferences</h3>

  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <div class="field">
          <%= f.label :name %>
          <%= f.text_field :name, :class => 'form-control' %>
          <% if f.object.errors.try(:messages)[:name].try(:first).present? %>
            <p class='text-primary'><%= f.object.errors.try(:messages)[:name].try(:first) %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <div class="field">
          <%= f.label :motto %>
          <%= f.text_field :motto, :class => 'form-control' %>
          <% if f.object.errors.try(:messages)[:motto].try(:first).present? %>
            <p class='text-primary'><%= f.object.errors.try(:messages)[:motto].try(:first) %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :game_system_ids, "Game Systems" %>
        <%= f.select :game_system_ids, @sorted_systems.collect {|p| [ p.title, p.id ]}, {include_blank: false}, {:class => 'form-control chosen-select', :multiple => true} %>
        <% if f.object.errors.try(:messages)[:game_system_ids].try(:first).present? %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:game_system_ids].try(:first) %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :game_type, "Game Type" %>
        <%= f.select(:game_type, options_for_select(["All Types", "Player vs. Player", "Player vs. Enemy"], @clan.game_type), {:label => 'Game Types'}, {:class => "form-control"}) %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :play_style, "Play Style" %>
        <%= f.select(:play_style, options_for_select(["Casual", "Competitive"], @clan.play_style), {:label => 'Play style'}, {:class => "form-control"}) %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :country %>
        <%= f.select :country, countries_list, {include_blank: true}, {:class => 'form-control chosen-select', :multiple => false} %>
        <% if f.object.errors.try(:messages)[:country].try(:first).present? %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:country].try(:first) %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label>Time Zone</label>
        <%= f.select :timezone, options_for_select(@timezones, @clan.timezone.present? ? @clan.timezone : ''), {include_blank: false}, {:class => 'form-control chosen-select'}%>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :languages %>
        <%= f.select :languages, options_for_select(User.available_languages, @clan.languages.present? ? @clan.languages : ''), {include_blank: true}, {:class => 'form-control chosen-select'} %>
        <% if f.object.errors.try(:messages)[:languages].try(:first).present? %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:languages].try(:first) %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :minimum_age, "Minimum Age" %>
        <%= f.select :minimum_age, options_for_select(Clan::MINIMUMAGE, selected: @clan.minimum_age),{:prompt => ""}, {class: 'form-control chosen-select'} %>
        <% if f.object.errors.try(:messages)[:minimum_age].try(:first)  %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:minimum_age].try(:first) %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :profanity %>
        <%= f.select :family_friendly, options_for_select([['Yes', true], ['No', false]], selected: @clan.family_friendly),{}, {class: 'form-control'} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :status %>
        <%= f.select :status, options_for_select(Clan::STATUSES, @clan.status.present? ? @clan.status : ''), {}, {:class => 'form-control chosen-select'} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :remove_inactive_users, "Remove Inactive Users" %>
        <%= f.select :remove_inactive_users, options_for_select(Clan::INACTIVE_USER_RANGES, @clan.remove_inactive_users.present? ? @clan.remove_inactive_users : ''), {include_blank: true}, {:class => 'form-control chosen-select'} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :most_active, "Most Active Times" %>
        <%= f.select :most_active, options_for_select(Clan::POPULAR_TIMES, @clan.most_active.present? ? @clan.most_active : ''), {include_blank: false}, {:class => 'form-control chosen-select'} %>
        <%#= f.select :most_active, options_for_select(Clan::POPULAR_TIMES, @clan.most_active.present? ? @clan.most_active : ''), {include_blank: true}, {:class => 'form-control chosen-select'} %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :most_active_days, "Most Active Days" %>
        <%= f.select :most_active_days, options_for_select(Clan::POPULAR_DAYS, @clan.most_active_days.present? ? @clan.most_active_days : ''), {include_blank: false}, {:class => 'form-control chosen-select'} %>
        <%#= f.select :most_active_days, options_for_select(Clan::POPULAR_DAYS, @clan.most_active_days.present? ? @clan.most_active_days : ''), {include_blank: true}, {:class => 'form-control chosen-select'} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :annual_dues, 'Annual Dues' %>
        <%= f.select :annual_dues, options_for_select(Clan::ANNUAL_DUES, @clan.annual_dues), {include_blank: false}, {:class => 'form-control chosen-select'} %>
      </div>
    </div>
    <div class="col-md-4 annual_dues_amount <%= @clan.annual_dues == 0 ? 'hide' : ''%>">
      <div class="form-group">
        <%= f.label :annual_dues_amount, 'Annual Dues Amount (USD)' %>
        <%= f.number_field :annual_dues_amount, class: 'form-control', placeholder: 'in dollars', step: '1' %>
        <% if f.object.errors.try(:messages)[:annual_dues_amount].try(:first).present? %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:annual_dues_amount].try(:first) %></p>
        <% end %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <%= f.label :paypal_email, "PayPal Email Address" %>
        <%= f.text_field :paypal_email, :class => 'form-control' %>
        <% if f.object.errors.try(:messages)[:paypal_email].try(:first).present? %>
          <p class='text-primary'><%= f.object.errors.try(:messages)[:paypal_email].try(:first) %></p>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label >
      <%= f.label :game_ids, "Active Games" %>
    </label>
    <%= f.select :game_ids, @games.collect {|p| [ p.title, p.id ] }, {include_blank: false}, :class => 'form-control chosen-select', :multiple => true %>
    <% if f.object.errors.try(:messages)[:game_ids].try(:first).present? %>
      <p class='text-primary'><%= f.object.errors.try(:messages)[:game_ids].try(:first) %></p>
    <% end %>
  </div>
  <div class="form-group max-characters" data-max-num="250">
    <label ><%= f.label :bio %></label>
      <%= f.text_area :bio, :class => 'form-control', :rows=>'5' %>
      <%if f.object.errors.full_messages_for(:bio).first %>
        <p class='text-primary'><%= f.object.errors.full_messages_for(:bio).first %></p>
      <% end %>
  </div>

  <div class="form-group">
    <label >
      <%= f.label :ground_rules, "Ground Rules" %>
    </label>
    <%= f.text_area :ground_rules, :class => 'form-control', :rows=>'3'   %>
    <% if f.object.errors.full_messages_for(:ground_rules).first.present? %>
      <p class='text-primary'><%= f.object.errors.full_messages_for(:ground_rules).first %></p>
    <% end %>
  </div>

  <div class="form-group">
    <label ><%= f.label :requirements %></label>
    <%= f.text_area :requirements, :class => 'form-control', :rows=>'3'   %>
    <% if f.object.errors.full_messages_for(:requirements).first.present? %>
      <p class='text-primary'><%= f.object.errors.full_messages_for(:requirements).first %></p>
    <% end %>
  </div>

  <hr>
  <%= render 'popular_links', f: f%>
  <hr>

  <h3>Custom Links</h3>
  <div class="custom_links">
    <%= f.fields_for :links do |link| %>
      <div class="row link" id="remove_0">
        <div class="col-md-4">
          <div class="form-group">
            <%= link.label :name %>
            <%= link.text_field :name, class: "form-control", placeholder: 'Link Name' %>
            <% if link.object.errors.try(:messages)[:name].try(:first).present? %>
              <p class='text-primary'><%= link.object.errors.try(:messages)[:name].try(:first)%></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <%= link.label :url, 'URL' %>
            <%= link.text_field :url, class: "form-control", placeholder: 'URL' %>
            <% if link.object.errors.try(:messages)[:url].try(:first).present? %>
              <p class='text-primary'><%= link.object.errors.try(:messages)[:url].try(:first)%></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-4 remove_link" id="rm_btn_0">
          <%= link.hidden_field :_destroy, class: "show_link remove_link" %>
          <i class="fa fa-times"></i>
        </div>
      </div>
    <% end %>
  </div>
  <div class="link_add_button">
    <a href="javascript:;" > <i class="fa fa-plus-circle "></i> Add Links </a>
  </div>
  <hr>

  <h3>Videos</h3>
  <!-- <%#= f.label :youtube_video_url, "Youtube Video Url" %><br> -->
  <%#= f.text_field :youtube_video_url, class: "form-control" %>
  <div class="video_url">
    <%= f.fields_for :video_urls do |video_url| %>
      <div class="row video">
        <div class="col-md-4">
          <div class="form-group">
            <%= video_url.label :name, 'Video Name' %>
            <%= video_url.text_field :name, class: "form-control", placeholder: 'Video Name' %>
            <% if video_url.object.errors.try(:messages)[:name].try(:first) %>
              <p class='text-primary'><%= video_url.object.errors.try(:messages)[:name].try(:first)%></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-7">
          <div class="form-group">
            <%= video_url.label :url, 'Video URL' %>
            <%= video_url.text_field :url, class: "form-control", placeholder: 'Video URL' %>
            <% if video_url.object.errors.try(:messages)[:url].try(:first) %>
              <p class='text-primary'><%= video_url.object.errors.try(:messages)[:url].try(:first)%></p>
            <% end %>
          </div>
        </div>
        <div class="col-md-1">
          <div class="remove_video">
            <%= video_url.hidden_field :_destroy, class: "show_video remove_link" %>
            <i class="fa fa-times"></i>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="video_add_button">
    <a href="javascript:;" > <i class="fa fa-plus-circle"></i> Add Video </a>
  </div>

  <hr>
  <%= render 'questions', f: f %>
  <hr>

  <h3 >Member Roles and Permissions</h3>
  <div class="row">
    <div class="col-md-2">
      <div class="col-md-9 col-md-offset-3">Name</div>
    </div>
    <div class="col-md-2">Post Events</div>
    <div class="col-md-2">Post Chat</div>
    <div class="col-md-2">Post Notices</div>
    <div class="col-md-2">Review Applications</div>
    <div class="col-md-2">Receive Contact</div> 
  </div>
  <% number = 0 %>
  <%= f.fields_for :clan_ranks do |clan_rank| %>
  <%= clan_rank.hidden_field :permissions, value: []%>
  <%= clan_rank.hidden_field :is_default, value: number == 2 %>
    <div class="row">
      <div class="col-md-2">
        <div class="col-md-3">Rank <%= number = number + 1%></div>
        <div class="form-group col-md-9">
          <%#= clan_rank.label :title, 'Name' %>
          <%= clan_rank.text_field :title, class: "form-control", placeholder: 'Name', value: clan_rank.object.title.nil? ? "Rank #{number}" : clan_rank.object.title %>
          <% if clan_rank.object.errors.try(:messages)[:title].try(:first).present? %>
            <p class='text-primary'><%= clan_rank.object.errors.try(:messages)[:title].try(:first)%></p>
          <% end %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= clan_rank.select :post_events, options_for_select([['Yes', true], ['No', false]], selected: clan_rank.object.post_events? ),{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= clan_rank.select :post_chat, options_for_select([['Yes', true], ['No', false]], selected: clan_rank.object.post_chat?),{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= clan_rank.select :post_notices, options_for_select([['Yes', true], ['No', false]], selected: clan_rank.object.post_notices?),{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= clan_rank.select :review_applications, options_for_select([['Yes', true], ['No', false]], selected: clan_rank.object.review_applications?),{}, {class: 'form-control'} %>
        </div>
      </div>
      <div class="col-md-2">
        <div class="form-group">
          <%= clan_rank.select :receive_contact, options_for_select([['Yes', true],['No', false]], selected: clan_rank.object.receive_contact?), {}, {class: 'form-control'} %>
        </div>
      </div>
    </div>
  <% end %>
  <% if  f.object.errors.try(:messages)[:clan_ranks]%>
    <p class="lead text-primary" align="center">
      <%= f.object.errors.try(:messages)[:clan_ranks].first%>
    </p>
  <% end %>
<p class="lead text-primary" align="center">
  New members are 	assigned to rank 3 when they join.
</p>
  <hr>

  <div class="row">
    <div class="col-md-3 col-sm-6">
      <% if @clan.id.present? %>
        <%= link_to "View Clan", clan_path(@clan), class: "btn-md btn-x btn btn-outline edit-clan-btn" %>
      <% end %>
    </div>
    <div class="col-md-3 col-sm-6">
      <% if @clan.id.present? %>
        <%= link_to 'Transfer Ownership', '#', class: "btn-md btn-x btn btn-outline edit-clan-btn", data: {toggle: 'modal', target: '#change_clan_owner'} %>
      <% end %>
    </div>
    <div class="col-md-4 col-sm-12 pull-right-md">
      <%= f.submit class: "btn btn-primary btn-lg btn-x pull-right-md edit-clan-btn", value: "SUBMIT" %>
    </div>
  </div>
<% end %>

<% if @clan.id.present? && @clan_members.present?%>
<!-- complecated div endind  6 line only-->
</div>
</div>
</div>
<div class="well" id='clan_members_section'>
<div class="row">
<div class="col-md-12 clan_members_table">
  <p class="text-primary text-center">Removing members will permanently ban them.</p>
<%= render 'clan_members'%>
<% end %>

<% if @clan.id.present? && @blocked_members.present?%>
<!-- complecated div endind  6 line only-->
</div>
</div>
</div>
<div class="well">
<div class="row">
<div class="col-md-12 blocked_clan_members_table">
<%= render 'blocked_clan_members'%>
<% end %>



<!-- clan ownership popup -->
<% if @clan.id.present? && @clan_members.present?%>
  <div class="modal fade" id="change_clan_owner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <%= form_for(@clan, url: change_owner_clan_path(@clan)) do |f| %>
        <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                Change Clan Ownership
              </h4>
            </div>
            <div class="modal-body contract-details">
              <div class="row">
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.label :host_id, "Owner" %>
                    <%= f.select :host_id, options_for_select(@clan_members.map{|member|[member.user.email, member.user.id]}, @clan.host_id), {include_blank: false}, {:class => 'form-control chosen-select'} %>
                  </div>
                </div>
              </div>
              <div class='row'>
                <div class="col-md-4">
                  <div class="form-group">
                    <%= f.submit :class => 'btn btn-primary', value: 'Change Owner' %>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <div class="modal-footer-button-container">
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
              </div>
            </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>
