<div class='row'>
  <h3>LINKS</h3>
  <%= render "clans/clan_links/links", clan: @clan %>
</div>
<% if @clan.links.present? %>
  <div class='row'>
    <h3>CUSTOM SITES</h3>
    <ul class="list-unstyled social-links clan-media">
      <% @clan.links.each do |link| %>
      <li>
        <a href="#" data-toggle="modal" data-target="#custom_link_<%= link.id%>">
          <div class="media">
            <span class="media-left media-middle">
              <h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
                <span class="fa fa-youtube"></span>
              </h3>
            </span>
            <div class="media-body media-middle">
              <strong class="text-gray"> <%= link.name %></strong>
            </div>
          </div>
        </a>
      </li>
      <% end %>
    </ul>
  </div>
  <% @clan.links.each do |link| %>
    <div class="modal fade" id="custom_link_<%= link.id%>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
      <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">
                Custom Link
              </h4>
            </div>
            <div class="modal-body contract-details">
              <p class='text-justify lead'> This link will send you to another site and should only be used 	if you trust the link address below and accept our TOU. </p>
              <%= link.url %>
              <div class='clearfix'></div>
            </div>
            <div class="modal-footer">
              <div class="modal-footer-button-container">
                <%= link_to 'Proceed', link.url, class: 'btn btn-primary'%>
                <button type="button" class="btn btn-primary" data-dismiss="modal" aria-label="Close">Cancel</button>
              </div>
            </div>

        </div>
      </div>
    </div>
  <% end %>
<% end %>
