<% @clan_members.group_by{|cm| cm.clan_rank.title }.each do |clan_rank, clan_members| %>
  <div class='row'>
    <hr>
     <p class='text center'> <%= clan_rank.upcase %></p>
    <hr>
    <%= render :partial => 'clan_member', collection: clan_members, as: :member %>
  </div>
<% end %>
