<div class="row">

  <!-- View Host -->
  <%= render "clans/clan_members/clan_host" %>

  <!-- View 5 Clan Members -->
  <div class="col-md-12">
    <ul class="list-unstyled">
      <div id="clan_members">
        <!-- AJAX REQUEST IS MADE TO FILL IN -->
      </div>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div id="clan_members_paginator">
      <!-- AJAX REQUEST IS MADE TO FILL IN -->
    </div>
  </div>
</div>
  <!-- View all Clan Members -->
<div class="row">
  <div class="col-md-12">
    <%= link_to "View All", clan_clan_members_path(@clan), class: "btn btn-primary btn-block"  %>
  </div>

</div>
<script>
$.ajax({
  type: "GET",
  data: {
    per_page: 5,
  },
  url: "/clans/"+<%= @clan.id %>+"/clan_members.js",
  success: function(resp){}
});
</script>