<div class = "text-right-md">
  <% if @clan.discord.present? %>
    <a href="http://discordapp.com/channels/<%= "#{@clan.discord}" %>" target="_blank" class="btn btn-xl btn-discord">
      <img src="/assets/discord_logo.png" alt="Join Discord Channel">
    </a>
  <% end %>

  <% if @clan.discord_invitation.present? %>
    <a href="http://discordapp.com/channels/<%= "#{@clan.discord_invitation}" %>" target="_blank" class="btn btn-xl btn-discord">
      <img src="/assets/discord_logo.png" alt="Join Discord Channel">
    </a>
  <% end %>

  <% if @clan.curse.present? %>
    <a href="http://discordapp.com/channels/<%= "#{@clan.curse}" %>" target="_blank" class="btn btn-xl btn-discord">
      <img src="/assets/discord_logo.png" alt="Join Discord Channel">
    </a>
  <% end %>

  <% if @clan.curse_invitation.present? %>
    <a href="http://discordapp.com/channels/<%= "#{@clan.curse_invitation}" %>" target="_blank" class="btn btn-xl btn-discord">
      <img src="/assets/discord_logo.png" alt="Join Discord Channel">
    </a>
  <% end %>
</div>

<h4>Post a message to the entire clan.</h4>
<p><small>Only members with forum / messaging privelages can post a message.</small></p>

<% if current_user.present? && (@clan.is_host?(current_user) ||@clan.member(current_user)) %>
  <% unless @clan.clan_messages.empty? %>
    <ul class="clan-messages messages-list list-unstyled">
      <%= sync  partial: 'message_row', collection: @clan.clan_messages, as: :clan_message %>
      <%= sync_new partial: 'message_row', resource: ClanMessage.new %>
    </ul>
  <% else %>
    <p>No Messages Yet!</p>
  <% end %>
<% end %>
<% if current_user.present? && (@clan.is_host?(current_user) ||@clan.member(current_user) && @clan.member(current_user).can_perform?(:post_chat)) %>
  <% @clan_message = ClanMessage.new %>
  <%= form_for [@clan, @clan_message], remote: true  do |f| %>
    <ul class="roster-messages messages-list list-unstyled">
      <li class="message message-self">
        <span class="message-avatar">
          <a href="<%= profiles_path() + '/' + current_user.username %>"><%= image_tag current_user.avatar_url, :class=>'avatar-sm'%></a>
        </span>
          <div class="message-content">
            <div class="form-group">
              <%= f.text_area :message, class:'form-control', rows: 3 %>
            </div>
            <div class="text-right-md">
              <%= f.submit 'Post message', class: 'btn btn-primary'%>
            </div>
          </div>
      </li>
    </ul>
  <% end %>
<% end %>
