<div class='row'>
    <div class= 'col-md-9'>
        <h3 class="text-primary">Notices</h3>
    </div>
    <div class="col-md-3 text-right-md">
        <% if current_user.present? %>
            <%= link_to "New Notice", new_clan_notice_path(@clan.id), class: "btn btn-primary", target: 'new' if @clan.is_host? current_user %>
        <% end %>    
    </div>
</div>
<% if current_user.present? %>
    <% unless @clan_notices.empty? %>
        <ul class="clan-messages messages-list list-unstyled">
            <% @clan_notices.each do |r| %>
                <li id="<%= r.id %>" class="message message-self">
                    <div class ='message-container'>
                        <span class="message-avatar message-self">
                            <a href="<%= profiles_path() + '/' + r.user.username %>">
                                <%= image_tag r.user.avatar_url, :class=>'avatar-sm'%>
                            </a>
                        </span>
                        <div class="message-content">
                            <h4>
                                <span class="text-primary">Subject: </span>
                                <%= r.title %>
                                <span class="visible-sm-block visible-xs-block visible-md visible-lg pull-right-md">
                                    <small>
                                        <%=r.created_at.strftime("%m/%d %I:%M%p %Z ") %>&nbsp;
                                        <% if r.user == current_user %>
                                            <a href="#" class="dropdown" data-target="actions" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false">
                                                <span class="fa fa-chevron-down"></span>
                                            </a>
                                            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
                                                <li>
                                                    <%=link_to 'Delete', delete_clan_notice_path(r), method: :delete, data: {confirm:'Are you sure?'},
                                                    :remote => true, :class => 'delete_message'   %>
                                                </li>
                                                <li>
                                                    <%#=link_to 'Edit', edit_clan_notice_path(r), remote: true, class: 'edit_message' %>
                                                </li>
                                            </ul>
                                        <% end %>
                                    </small>
                                </span>
                            </h4>
                            <div class="message-body">
                                <p>
                                    <%= r.body %>
                                </p>
                            </div>
                        </div>
                    </div>
                </li>
            <% end %>
        </ul>
    <% else %>
        <p>No Notices At This Time!</p>
    <% end %>
<% end %>