<h3>Popular Links</h3>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :youtube,  "YouTube #{clan_link_label('youtube')}"%>
      <%= f.text_field :youtube, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:youtube].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:youtube].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :twitch,  "Twitch"%>
      <%= f.text_field :twitch, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:twitch].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:twitch].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :facebook,  "Facebook #{clan_link_label('facebook')}"%>
      <%= f.text_field :facebook, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:facebook].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:facebook].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :google,  "Google #{clan_link_label('google')}"%>
      <%= f.text_field :google, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:google].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:google].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :twitter%>
      <%= f.text_field :twitter, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:twitter].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:twitter].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :instagram,  "Instagram #{clan_link_label('instagram')}"%>
      <%= f.text_field :instagram, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:instagram].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:instagram].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :discord_invitation, 'Discord Invitation'%>
      <%= f.text_field :discord_invitation, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. discord.gg/p8khp)</small>
      </span>
      <% if f.object.errors.try(:messages)[:discord_invitation].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:discord_invitation].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :discord,  "Discord Server"%>
      <%= f.text_field :discord, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. discordapp.com/channels/288350892351160341/288350892351160341)</small>
      </span>
      <% if f.object.errors.try(:messages)[:discord].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:discord].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :curse_invitation, 'Curse Invitation' %>
      <%= f.text_field :curse_invitation, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. curse.com/invite/MorinJunatPackle)</small>
      </span>

      <% if f.object.errors.try(:messages)[:curse_invitation].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:curse_invitation].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :curse, 'Curse Server'%>
      <%= f.text_field :curse, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. curse.com/sxyhxy)</small>
      </span>
      <% if f.object.errors.try(:messages)[:curse].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:curse].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :patreon,  "Patreon #{clan_link_label('patreon')}"%>
      <%= f.text_field :patreon, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. patreon.com/twaz)</small>
      </span>
      <% if f.object.errors.try(:messages)[:patreon].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:patreon].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :wargaming %>
      <%= f.text_field :wargaming, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. na.wargaming.net/clans/wot/1000011867)</small>
      </span>
      <% if f.object.errors.try(:messages)[:wargaming].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:wargaming].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :battle%>
      <%= f.text_field :battle, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. us.battle.net/wow/en/character/firetree/Noolore/simple)</small>
      </span>
      <% if f.object.errors.try(:messages)[:battle].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:battle].try(:first) %></p>
      <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :steam,  "Steam #{clan_link_label('steam')}"%>
      <%= f.text_field :steam, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. steamcommunity.com/groups/wdzcommunity)</small>
      </span>
      <% if f.object.errors.try(:messages)[:steam].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:steam].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :reddit,  "Reddit #{clan_link_label('reddit')}"%>
      <%= f.text_field :reddit, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:reddit].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:reddit].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :mlg,  "MLG #{clan_link_label('mlg')}"%>
      <%= f.text_field :mlg, class: 'form-control' %>
      <span class="helper-text">
        <small>Enter the entire URL (ex. profile.majorleaguegaming.com/BeZo/)</small>
      </span>
      <% if f.object.errors.try(:messages)[:mlg].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:mlg].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :bungie,  "Bungie #{clan_link_label('bungie')}"%>
      <%= f.text_field :bungie, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:bungie].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:bungie].try(:first) %></p>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <%= f.label :skype %>
      <%= f.text_field :skype, class: 'form-control' %>
      <% if f.object.errors.try(:messages)[:skype].try(:first).present? %>
        <p class='text-primary'><%= f.object.errors.try(:messages)[:skype].try(:first) %></p>
      <% end %>
    </div>
  </div>
</div>
