<h3>Recruitment Questions</h3>
<div class="clan_questions">
  <% question_n = 0 %>
  <%= f.fields_for :questions do |question| %>
    <div class="row questions">
      <div class="col-md-11">
        <div class="form-group">
          <%if question.object.id.present? %>
            <% question_n = question_n + 1 %>
            <div class="text-primary">Question <%= question_n%></div>
            <div class="topmrg_20"></div>
            <%= question.object.name %>
          <% else %>
            <%= question.label :name, 'Question' %>
            <%= question.text_field :name, class: "form-control", placeholder: 'Question' %>
          <% end %>
          <% if question.object.errors.try(:messages)[:name].try(:first).present?%>
            <p class='text-primary'><%= question.object.errors.try(:messages)[:name].try(:first)%></p>
          <% end %>
        </div>
      </div>
      <div class="col-md-1">
        <div class="remove_question">
          <%= question.hidden_field :_destroy, class: "question_destroy remove_link" %>
          <i class="fa fa-times"></i>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="question_add_button">
  <a href="javascript:;" > <i class="fa fa-plus-circle "></i> Add Question </a>
</div>
<% if  f.object.errors.try(:messages)[:questions]%>
  <p class="lead text-primary" align="center">
    <%= f.object.errors.try(:messages)[:questions].first%>
  </p>
<% end %>
<br>
<div class="row">
  <div class="col-md-4">
    <div class="form-group">
      <%= f.label :re_apply, 'Allow Rejected Applicants to Reapply' %>
      <%= f.select :re_apply, options_for_select([['Yes', true], ['No', false]], selected: @clan.re_apply),{}, {class: 'form-control'} %>
    </div>
  </div>
</div>
