<div class="clan-stats clan-specs">
  <div class="row visible-xs">
    <div class="col-xs-6">
      <dl class="roster-list dl-horizontal">
        <dt>Systems:</dt>
        <dd>
          <% if @clan.game_systems.any? %>
            <%= @clan.game_systems.pluck(:abbreviation).uniq.join(", ") %>
          <% else %>
          N/a
          <% end %>
        </dd>
        <dt>Country:</dt>
        <dd><%= @clan.country %></dd>
        <dt>Timezone:</dt>
        <dd><%= @clan.timezone.present? ? short_time_zone(@clan.timezone) : ' &mdash;'.html_safe %></dd>
        <dt>Languages:</dt>
        <dd><%= @clan.languages %></dd>
        <dt>Status:</dt>
        <dd><%= @clan.status.try(:capitalize) %></dd>
        <dt>Annual Dues:</dt>
        <dd>$ <%= @clan.annual_dues%></dd>
      </dl>
    </div>

    <div class="col-xs-6">
      <dl class="roster-list dl-horizontal">
        <dt>Members:</dt>
        <dd><%= @clan.users.count %></dd>
        <dt>Average Age:</dt>
        <dd><%= @clan.average_age %></dd>
        <dt>Minimum Age:</dt>
        <dd><%= @clan.minimum_age %></dd>
        <dt>Game types:</dt>
        <dd><%= @clan.try(:game_type).present? ? short_game_type(@clan.game_type) : '' %></dd>
        <dt>Style:</dt>
        <dd><%= @clan.play_style %></dd>
        <dt>Profanity:</dt>
        <dd><%= @clan.family_friendly ? 'Yes' : 'No' %></dd>
      </dl>
    </div>
  </div>

  <div class="row hidden-xs">
    <div class="col-sm-4">
      <dl class="roster-list dl-horizontal">
        <dt>Systems:</dt>
        <dd>
          <% if @clan.game_systems.any? %>
            <%= @clan.game_systems.pluck(:abbreviation).uniq.join(", ") %>
          <% else %>
          N/a
          <% end %>
        </dd>
        <dt>Country:</dt>
        <dd><%= @clan.country %></dd>
        <dt>Timezone:</dt>
        <dd><%= @clan.timezone.present? ? short_time_zone(@clan.timezone) : ' &mdash;'.html_safe %></dd>
        <dt>Languages:</dt>
        <dd><%= @clan.languages %></dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <dl class="roster-list dl-horizontal">
        <dt>Game types:</dt>
        <dd><%= @clan.try(:game_type).present? ? short_game_type(@clan.game_type) : '' %></dd>
        <dt>Play style:</dt>
        <dd><%= @clan.play_style %></dd>
        <dt>Status:</dt>
        <dd><%= @clan.status.try(:capitalize) %></dd>
        <dt>Annual Dues:</dt>
        <dd>$ <%= @clan.annual_dues%></dd>
      </dl>
    </div>
    <div class="col-sm-4">
      <dl class="roster-list dl-horizontal">
        <dt>Members:</dt>
        <dd><%= @clan.users.count %></dd>
        <dt>Average Age:</dt>
        <dd><%= @clan.average_age %></dd>
        <dt>Minimum Age:</dt>
        <dd><%= @clan.minimum_age %></dd>
        <dt>Profanity:</dt>
        <dd><%= @clan.family_friendly ? 'Yes' : 'No' %></dd>
      </dl>
    </div>
  </div>

</div>

<br/>
<div class="row">
  <div class="col-sm-4 text-center">
    <h4 class="text-primary text-center">Activity level</h4>
    <%= @clan.activity_level %>
  </div>
  <div class="col-sm-4 text-center">
    <h4 class="text-primary text-center">Most Active Days<h4>
    <%= @clan.most_active_days.present? ? @clan.most_active_days : '&mdash;'.html_safe %>
  </div>
  <div class="col-sm-4 text-center">
    <h4 class="text-primary text-center">Most Active Times<h4>
    <%= @clan.most_active.present? ? @clan.most_active : '&mdash;'.html_safe %>
  </div>
</div>
<br/>

<% if @clan.games.present?%>
<section class="content-block dash-block">
  <div class="p-x-0-xs">
    <div class="block-grid">
      <div class="block-grid-header">
        <div class="row">
          <div class="col-md-12 col-sm-12">
            <h2 class="mt0">Active Games</h2>
          </div>
        </div>
        <ul class="mss-list clearfix">
            <li class="mss">
              <%= image_tag(@clan.games.first.game_jumbo) %>
              <div class="mss-details">
                  <h4 class="mb0"><%= @clan.games.first.title %></h4>
                  <h5 class="mt0">Release Date: <%= @clan.games.first.release_date.present? ? short_date(@clan.games.first.release_date) : '&mdash;'.html_safe %></h5>
              </div>
            </li>
        </ul>
        <ul class="mss-list clearfix">
          <% @clan.games[1..3].each do |game| %>
            <li class="mss col-third-rel">
              <%= image_tag(game.game_cover) %>
              <div class="mss-details">
                <h4><%= game.title %></h4>
                <span class="hidden-xs">Release Date: <%= game.release_date.present? ? short_date(game.release_date) : '&mdash;'.html_safe %></span>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</section>
<% end %>

<br/>
<% if @clan.top_3_games.count > 0 %>
  <h3 class="text-primary">Popular Title</h3>

  <ul class="mss-list clearfix">
    <li class="mss">
      <%= image_tag(@clan.top_3_games.first.game_jumbo) %>

      <div class="mss-details">
        <h4><%= @clan.top_3_games.first.title %></h4>
      </div>
    </li>
  </ul>
<% end %>
