<p class="lead text-primary" align="center">
	This page is optimized for desktop use and is not recommended for mobile browsers.
</p>
<div class="container">
	<div class="p-x-0-xs">
      <%= render 'layouts/flash' %>
  </div>
	<div class="well">
		<div class="row">
			<div class="col-md-12">
				<h2 class="profile-title">Edit Clan</h2>
					<div class'row pull-right'>
						<% if @clan.id.present? && @clan_members.present?%>
							<a href='#clan_members_section' class='btn btn-primary pull-right'>Members</a>
						<% end %>
					</div>
				<%= render 'form' %>
			</div>
		</div>
	</div>
</div>
