<div class="background-block content-area">
  <div class="container">
    <div class="well clearfix">

      <div class="row">
        <div class="col-md-8 col-sm-8">
          <h2 class="mt0">Clans</h2>
        </div>
        <div class="col-md-4 col-sm-4 text-right-md text-right-sm">
          <button class="btn btn-outline btn-block-xs" data-toggle="collapse" data-target="#collapse-filters" aria-expanded="false" aria-controls="collapseExample">Filter Options</button>
          <%= link_to "Create Clan&nbsp;".html_safe, new_clan_path, class: "btn btn-primary btn-block-xs" %>
        </div>
      </div>

      <div class="filter-panel collapse" id="collapse-filters">
        <%= form_tag '', :method => :get do %>
          <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                  <label>Games</label>
                  <%= select_tag "select_filter[game][]",
                  options_from_collection_for_select(@sorted_games, 'id', 'title',
                  @select_params[:game]),  multiple: true, size: 5, class: 'form-control chosen-select' %>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                  <label>System</label>
                  <div class="chosen99">
                    <%= select_tag "select_filter[game_system][]",
                    options_from_collection_for_select(@sorted_systems, 'id', 'title', @select_params[:game_system]), {multiple: true, size: 5, class: 'form-control chosen-select', prompt: 'Select a System'} %>
                </div>
                </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Clan Search</label>
                  <%= text_field_tag "filter[name]", @filter_params[:name], {class: 'form-control', placeholder: 'Enter clan name'}  %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Game Type</label>
                 <%= select_tag "select_filter[rosters_with_will_play]",
                    options_for_select(Clan::GAME_TYPE, @select_params[:rosters_with_will_play]), {class: 'form-control', prompt: 'Select a Game Type'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Play Style</label>
                <%= select_tag "select_filter[play_style]",
                 options_for_select(["Casual", "Competitive"], @select_params[:play_style]), {class: 'form-control', prompt: 'All Types'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Average Age</label>
                <%= select_tag "range_filter[average_age]", options_for_select(Clan::AGE_RANGES, integer_range_to_string(@range_params[:average_age])), {class: 'form-control', prompt: ''} %>

              </div>
            </div>
          </div>


          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Language</label>
                <%= select_tag "select_filter[languages]",
                    options_for_select(User.available_languages, @select_params[:languages]), {class: 'form-control chosen-select', multiple: true, prompt: 'Select Languages'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Time Zone</label>
                <%= select_tag "select_filter[timezone]",
                 options_for_select(@timezones, @select_params[:timezone]), {class: 'form-control', prompt: 'Select a Timezone'} %>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label>Popular Times</label>
                <%= select_tag "select_filter[most_active]",
                    options_for_select(Clan::POPULAR_TIMES, @select_params[:most_active]), {class: 'form-control', prompt: 'Select a Popular Time'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-6">
              <div class="form-group">
                <label>Members</label>
                <%= select_tag "range_filter[members]", options_for_select(Clan::MEMBER_RANGES, integer_range_to_string(@range_params[:members])), {class: 'form-control', prompt: ''} %>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="form-group">
                <label>Activity Level</label>
                <%= select_tag "select_filter[activity_level][]",
                    options_for_select(['Very Active', 'Moderately Active', 'Somewhat Active', 'Not Active'], @select_params[:activity_level]), {multiple: true, size: 5, class: 'form-control chosen-select', prompt: 'Select a System'} %>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4 col-xs-6">
              <div class="form-group" align="center">
                <label>Alphabetical Sort</label>
                <div class="form-group">
                  <label class="switch">
                    <%= check_box_tag 'select_filter[alphabetical_sort]', 'true', @select_params[:alphabetical_sort], {class: 'switch-input'} %>
                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="form-group" align="center">
                <label>Profanity</label>
                <div class="form-group">
                  <label class="switch">
                    <%= check_box_tag 'select_filter[family_friendly]', 'true', @select_params[:family_friendly], {class: 'switch-input'} %>
                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-xs-6">
              <div class="form-group" align="center">
                <label>My Clans</label>
                <div class="form-group">
                  <label class="switch">

                    <%= check_box_tag "my_clans", true, params["my_clans"], {class: 'switch-input'} %>
                    <span class="switch-label" data-on="Yes" data-off="No"></span>
                    <span class="switch-handle"></span>
                  </label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <%= link_to "Reset", clans_path, class: "btn btn-primary btn-block" %>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <%= submit_tag 'Submit', class: "btn btn-primary btn-block wg-external-submit-button"%>
              </div>
            </div>
          </div>
        <% end %>
      </div>

      <div class="roster-invites-wrapper clearfix">
          <ul class="list-unstyled">
             <%= render :partial => 'shared/clan_card', collection: @clans, as: :clan %>
         </ul>
         <% if !@clans.present? %>
          <h3 class="text-center">There are currently no clans that meet your criteria.</h3>
          <div class="text-center"><%= link_to "Create One Now", new_clan_path, class: "btn btn-xl btn-outline" %></div>
         <% end %>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div>
            <%= paginate @clans %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
