<div class="background-block content-area">
	<p class="lead text-primary" align="center">
		This page is optimized for desktop use and is not recommended for mobile browsers.
	</p>
	<div class="container">
		<div class="well">
			<div class="row">
				<div class="col-md-12">
					<h2 class="mt0">New Clan</h2>
					<p class="lead text-primary">
						This page will let you create a new clan.
					</p>
					<%= render 'form' %>
				</div>		
			</div>
		</div>
		<!-- <%= link_to 'Back', clans_path %> -->
	</div>
</div>