<div class="container p-x-0-xs">
  <div class="p-x-0-xs">
      <%= render 'layouts/flash' %>
  </div>
     <% tabs = [
    {id: "clan-specs", display: "Specs", path: "/clans/clans/specs", icon: "fa-list-alt"},
    {id: "clan-about", display: "About", path: "/clans/clans/about", icon: "fa-info-circle"},
    {id: "clan-links", display: "Links", path: "/clans/clans/links", icon: "fa-link"},
    {id: "clan-videos", display: "Videos", path: "/clans/clans/videos", icon: "fa-video-camera"},
    {id: "clan-members", display: "Members", path: "/clans/clans/members", icon: "fa-shield"},
    {id: "clan-breaker", display: false, path: false, icon: false},
    {id: "clan-notices", display: "Notices", path: "/clans/clans/notices", icon: "fa-exclamation-triangle"},
    {id: "clan-videos", display: "Contact", path: "/clans/clans/videos", icon: "fa fa-envelope-o"},
    {id: "clan-messages", display: "Chat", path: "/clans/clans/messages", icon: "fa-comments"},
    {id: "clan-donate", display: "Donate", path: "/clans/clans/donation", icon: "fa-dollar"},
    {id: "clan-events", display: "Events", path: "/clans/clans/events", icon: "fa-calendar"},
    # {id: "clan-ranks", display: "Ranks", path: "/clans/clans/ranks", icon: "fa-angle-double-down"},
    # {id: "clan-links", display: "Links", path: "/clans/clans/links", icon: "fa-link"},
  ] %>
  <div class="well clan-well">
    <%= render "clans/clan_header", active: 'profile' %>
  </div>
  <br>
  <% active = "specs" %>

  <!-- Tab controls -->
  <div align="center">
    <div class="profile-actions">
      <ul class="profile-action-btns clearfix" role="tablist">
        <% tabs.each do |tab| %>
          <% if tab[:id] == "clan-breaker" %>
              <li class="breaker"></li>
          <% else %>
            <% if (tab[:id] != 'clan-messages')  || (current_user.present? && ((@clan.active_member?(current_user)) || @clan.is_host?(current_user)) ) %>
              <li role="presentation"
                  class="<%= active == tab[:display].downcase ? 'active' : ''%>">
                <a href=<%= "##{tab[:id]}" %>
                   aria-controls=<% tab[:display].downcase %>
                   role="tab"
                   data-toggle="tab">
                  <i class="fa <%= tab[:icon] %>" aria-hidden="true"></i>
                  <span><%= tab[:display] %></span>
                </a>
              </li>
            <% end %>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>

  <!-- Render Tab -->
  <div class="tab-content well mt0">
    <% tabs.each do |tab| %>
      <% unless tab[:id] == "clan-breaker" %>
        <div role="tabpanel" class="tab-pane fade" id="<%= tab[:id] %>">
          <%= render tab[:path] %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<!-- Set our default tab -->
<script>
  $("#clan-specs").addClass("in active")
</script>
