
<li class="message message-self">
  <div class ='message-container'>
     <small class='success' style='display:none'>Message Updated.</small>
     <div class='errors'></div>

      <span class="message-avatar message-self">
          <a href="<%= profiles_path() + '/' + clan_message.user.username %>"><%= image_tag clan_message.user.avatar_url, :class=>'avatar-sm'%></a>
      </span>
      <div class="message-content">
        <h4><span class="text-primary">From: </span><%= clan_message.user.username%><span class="visible-sm-block visible-xs-block visible-md visible-lg pull-right-md"><small>
          <%=clan_message.created_at.strftime("%m/%d %I:%M%p %Z ") %>&nbsp;
          <% if clan_message.user == current_user %>
            <a href="#" class="dropdown" data-target="actions" data-toggle="dropdown" aria-haspopup="true" role="button" aria-expanded="false"><span class="fa fa-chevron-down"></span></a>
            <ul class="dropdown-menu pull-right" role="menu" aria-labelledby="dLabel">
              <li>
                <%=link_to 'Delete', roster_message_path(clan_message), method: :delete, data: {confirm:'Are you sure?'},
            :remote => true, :class => 'delete_message'   %>
              </li>
              <li>
                <%=link_to 'Edit', edit_roster_message_path(clan_message), remote: true, class: 'edit_message' %>
              </li>
            </ul>
          <% end %>
        </small></span></h4>
        <div class="message-body">
          <p>
            <%=clan_message.message%>
          </p>
        </div>
      </div>
    </div>
  </li>
