@media only screen and (min-width : 992px) {
	.about-md-lg {
		margin-top: 5em;
	}
}
@media only screen and (max-width : 992px) {
	.about-md-mt {
		margin-top: 5em;
	}
}
@media only screen and (max-width : 768px) {
	.about-sm-mt {
		margin-top: 5em;
	}
}

.how-to-block {
	img {
		max-width: 84px;
	}
}