@media screen and (max-width: $screen-sm-max) {
	.invite-cards-wrapper .tablesaw-bar .tablesaw-columntoggle-btnwrap.tablesaw-advance, .contract-cards-wrapper .tablesaw-bar .tablesaw-columntoggle-btnwrap.tablesaw-advance{
		.btn-collapsible {
			width: 100%;
		}
		.ttablesaw-bar-btn {
			display: none;
		}
	}
}

.roster-invites {
	overflow-x: scroll;
	white-space:nowrap;
	padding-bottom: 1em;
	li {
		display:inline-block;
		zoom: 1;
		margin-right: 1em;
		@media screen and (min-width: $screen-md-min) {
			width: 300px;
		}
	}
}

.roster-invite-card {
	.container-box {
		transition: all 300ms ease;
		border: 2px solid #333;
		border-radius: 5px;
		background-color: rgba(22, 22, 22, 0.7);
	}
	a {
		color: #fff;
		text-decoration: none !important;
		&:hover .container-box {
			background-color: rgba(0, 0, 0, 0.8);
			border-color: #666;
		}
	}
	.badge {
		font-size: 15px;
		@media screen and (max-width: 340px) {
			font-size: 13px;
		}
		margin-bottom: 5px;
	}
	p {
		font-size: 15px;
		line-height: 18px;
	}
	h4 {
		font-size: 19px;
		line-height: 22px;
	}
	@media screen and (max-width: 340px) {
		.psa-rating-read-only img {
			width: 10px;
		}
	}
	.card-roster-size {
		margin-top: 5px;
	}
}

ul {
	.card-content {
		@extend .clearfix;
		h4, p {
			@include text-overflow();
			margin-top: 0;
			margin-bottom: 0;
		}
		.card-avatar {
			display: inline-block;
			vertical-align: top;
			margin-right: 0px;
			float: left;
			img {
				vertical-align: top;
			}
		}
		.card-body {
			// 266 card - (44 avatar + 10 margin)
			width: 204px;
			@media screen and (max-width: 340px) {
				width: 200px;
			}
			float: left;
			p {
				margin-bottom: 1px;
			}
		}
		.event-creator {
			border-radius: 4px;
			@media screen and (max-width: 990px) {
				width: 30%;
				// display:block;
				// margin: 0 auto;
				margin-bottom: 8px;
			}
		}
	}
	.roster-invite-card .card-content .card-body {
		width: 212px;
		padding-left: 8px;
	}
}

@media screen and (max-width: $screen-sm-max) {
	.wbmr-cards {
		overflow: hidden;
		display: block !important;
		width: 100% !important;
		tfoot, thead {
			 display: none;
		}
		tbody {
			display: block !important;
			width: 100% !important;
			tr {
				border: none;
				padding: 0 !important;
				background-color: transparent !important;
			}
			tr, td{
				display: block;
				width: 100%;
			}
		}
	}
	.contract-cards-wrapper {
		.wbmr {
			overflow: hidden;
			display: block !important;
			width: 100% !important;
			tfoot, thead {
				 display: none;
			}
			tbody {
				display: block !important;
				width: 100% !important;
				tr {
					display: inline-block;
					border: none;
					padding: 0 !important;
					background-color: transparent !important;
					@media screen and (min-width: 640px) and (max-width: $screen-sm-max) {
						width: 32%;
						&:not(:nth-child(3n)) {
							margin-right: 1.9%;
						}
					}
					@media screen and (max-width: 639px) {
						width: 49%;
						&:nth-child(2n) {
							margin-left: 2%;
						}
					}
				}
				td{
					display: block;
					width: 100%;
				}
			}
		}
	}
}

.card-wrapper {
	border: 2px solid #333;
	border-radius: 5px;
	background-color: rgba(22, 22, 22, 0.7);
	//height: 305px;
	p.small {
		margin-bottom: 5px;
		.badge {
			font-size: 12px;
			@media screen and (min-width: 322px) and (max-width: 639px) {
				font-size: 10px
			}
			@media screen and (max-width: 321px) {
				font-size:7px;
			}
		}
	}
	.card-pad {
		padding: 10px;
		.row {
			margin-left: -10px;
			margin-right: -10px;
		}
	}
	.card-info {
		@media screen and (min-width: $screen-sm-min) {
			.avatar-link {
				display: inline-block;
				float: left;
				padding-right: 10px;
			}
			.card-info-text {
				float: left;
				width: 100%;
			}
		}
		@media screen and (max-width: $screen-xs-max) {
			.avatar-link img {
				margin-bottom: 8px;
			}
		}
		.psa-rating-read-only img {
			margin-top: -3px;
			@media screen and (max-width: $screen-md-max) and (min-width: $screen-md-min) {
				width: 12px;
			}
		}
	}
	.card-content p {
		margin-bottom: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		margin-top: 0;
		font-size: 18px;
		@media screen and (min-width: 322px) and (max-width: 639px) {
			font-size: 11px
		}
		@media screen and (max-width: 321px) {
			font-size: 9px;
		}
	}
	@media screen and (max-width: $screen-xs-max) {
		.psa-rating-read-only img {
			width: 10px;
		}
	}
}

td {
	.roster-invite-card .container-box {
		padding: 10px;
		.card-heading {
			p {
				margin-bottom: 0;
			}
			h4 {
				line-height: 1em;
				font-size: 15px;
				margin-top: 0;
				margin-bottom: 5px;
			}
		}
		.card-content {
			flex: 1;
			display: flex;
				.card-avatar {
				flex: 0 0 54px;
				display: inline-block;
				vertical-align: top;
				padding-right: 10px;
				img {
					vertical-align: top;
				}
			}
			.card-body{
				h4 {
					margin-top: 0;
					margin-bottom: 0;
					@include text-overflow();
				}
				p {
					@include text-overflow();
					margin-top: 0;
					margin-bottom: 4px;
					@media screen and (max-width: 340px) {
						margin-bottom: 0;
						font-size: 12px;
					}
				}
				min-width: auto;
				padding-right: 5px;
				flex: 33;
			}
		}

	}
}

.card-actions {
	margin-top: 5px;
	.row {
		margin-left: -3px;
		margin-right: -3px;
		div[class^="col-"] {
			padding: 0 3px;
		}
	}
}


.upcoming-events {
	tfoot {
		display: none;
	}
	tbody > tr > td {
		vertical-align: middle;
	}
}

.event-cover {
	position: relative;
	padding-bottom: 0;
	.img-overlay {
		background-image: linear-gradient(0deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
	    position: absolute;
	    z-index: 2;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	}
	.cover-details {
		top: 7.5%;
		font-weight: bold;
		text-align: center;
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		z-index: 3;
		h4 {
		    margin-bottom: 0px;
		    color: #fff;
		}
		i {
			margin-right: 4px;
		}
	}
}

.event-card {
	@media screen and (max-width: 768px) {
		max-width: 41%;
		max-width: 49%;
		width: 49%;
		margin-bottom: 2%;
		&:not(:nth-child(2n)) {
			margin-right: 2%;
		}
	}
	@media only screen and (max-width: 480px) {
		max-width: 100%;
		width: 100%;
		margin-bottom: 6%;
		margin-right: 0;
	}
}

.main-div{
  position: absolute;
  width: 100%;
  float: left;
  bottom: 0;
  background: #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.left-child{
  width: 12%;
  float: left;
}

.right-child{
  width: 88%;
  float: left;
  font-size: 20px;
  font-weight: bold;
  padding-top: 3px;
  text-align: center;
}

.game-photo {
  width: 100%;
}

