ul.game-list {
	padding: 0;
	display: block;
	list-style-type: none;
	text-align: center;
	li {
		padding: 0;
		color: $gray-dark;
		&:hover {
			cursor: pointer;
		}
		a h5, h5, small {
			color: #fff;
		}
		img {
			padding-bottom: 3px;
		}
		a {
			display: block;
		}
		a:hover {
			img {
				// padding-bottom: 0;
				// border-bottom: 3px solid $brand-primary;
			}
			text-decoration: none;
			h5, small {
				color: $brand-primary;
			}
		}
	}
	.thumbnail {
		background: lighten($gray-base, 6%);
		border: $gray solid 1px;
		&:hover {
			border: $brand-primary solid 1px;
		}
	}
}

.game-list .game-details h5 {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 2.2em;
    overflow-y: hidden;
    margin-bottom: 2px;
}

.games-list .game-item .game-details {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	height: 3em;
    overflow-y: hidden;
}

// Admin

table.admin-games {
	.cover {
		img {
			max-width: 120px;
		}
		.game-title {
			width: 120px;
			height: 120px;
		}
	}
}

// User

div[class^="boolean-console"] {
	display: none;
}

// Game Imagery
.game-cover {
	.game-title {
		width: 400px;
		height: 400px;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
	}
}

.game-modal-alert {
    color: $brand-primary;
}
.add-icon-top {
	position: absolute;
	top: 5px;
	right: 5px;
	padding: 4px;
    border: 2px solid #fff;
    width: 29px;
    height: 29px;
    line-height: 1;
    text-align: center;
    border-radius: 14px;
    box-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    transition: all ease-in-out 200ms;
    color: #fff;
    font-size: 15px;
    &:focus {
    	outline: none;
    }
    span {
    	text-shadow: 0px 0px 6px rgba(0,0,0,0.4);
    }
    &:hover, &:focus {
    	border-color: $brand-primary;
    	color: $brand-primary;
    }
}

