.messages.list-group {
	/*.message-user, .message-excerpt, .message-time {
		margin-top: 20px;
		display: block;
	}
	.message-time {
		font-size: 13px;
		margin-top: 22px;
	}*/
	.checkbox {
		margin: 0;
	}
	input[type="checkbox"]{
		margin-top: 4px;
	}
	li.list-group-item {
		background-color: rgba(33,33,33,0.5);
		border-color: $gray-dark;
		&:hover {
			background-color: rgba(21,21,21,0.8);
		}
	}
	li:nth-child(odd) {
		background-color: rgba(44,44,44,0.5);
		&:hover {
			background-color: rgba(44,44,44,0.8);
		}
	}
}

.message-actions {
	border-bottom: 1px solid $gray-light;
	margin-bottom: 15px;
	padding-bottom: 15px;
	.nav-tabs {
		margin-bottom: 0;
		border-bottom: transparent;
	}
}

li.message {
	position: relative;
	margin-top: 15px;
	.message-avatar {
		display: inline-block;
	    width: 85px;
	    @media screen and (min-width: $screen-md-min) {
	   		float: left;
	   	}
	}
	.message-content {
		position: relative;
		padding: 15px 25px;
		background: $gray-darker;
		@media screen and (min-width: $screen-md-min) {
			margin-left: 105px;
			&:after {
				border-width: 15px 14px 15px 0;
				border-color: transparent $gray-darker;
				left: -14px;
				top: 25px;
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			margin-top: 18px;
			&:after {
				border-width: 0 15px 15px;
				border-color: $gray-darker transparent ;
				left: 18px;
				top: -15px;
			}
		}
		&:after {
			content: '';
			position: absolute;
			border-style: solid;			
			display: block;
			width: 0;
			z-index: 1;
		}
		h4 {
			margin-top: 0;
		}
	}
	&.message-self .message-content{
		background-color: lighten($gray-darker, 6%);
		@media screen and (min-width: $screen-md-min) {
			&:after {
				border-color: transparent lighten($gray-darker, 6%);
			}
		}
		@media screen and (max-width: $screen-sm-max) {
			&:after {
				border-color: lighten($gray-darker, 6%) transparent;
			}
		}
	}
	.well {
		margin-top: 1.5em;
	}
}

.message-content .contract-meta {
	li {
		margin-bottom: 1.5em;
	}
}

// TODO: make these classes less specific / named to messages when now being used for non messages
.contract-details li.message {
	.message-avatar {
		width: 195px;
	}
	.message-content {
		@media screen and (min-width: $screen-md-min) {
			margin-left: 195px;
			min-height: 195px;
		}
		@media screen and (max-width: $screen-sm-max) {
			//margin-top: 0;
		}
	}
}


img.notification-game-cover {
	margin-top: 5px;
	display: block;
	max-width: 200px;
}

.roster-messages {
	.dropdown-menu {
		top: auto;
	}
}

.message-list-item {
	padding: 10px;
	.message-wrapper {
		display: flex;
		flex-direction: row;
		img {
			margin-right: 5px;
		}
		.message-content {
			flex: 2;
			min-width: 0;
			line-height: 1;
		}
		p {
			margin-top: .33em;
			@include text-overflow();
		}
	}
}