.modal-dialog {
	@media screen and (min-width: $screen-lg-min) {
		width: 992px;
	}
	@media screen and (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		width: 800px;
	}
	@media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
		width: 720px;
	}
}

.modal-content {
	background-color: $gray;
	.modal-header {
		border-bottom: 1px solid $gray-light;
		text-transform: uppercase;
		letter-spacing: 1.5px;
		.close {
			color: #fff;
			text-shadow: none;
			opacity: 0.9;
		}
	}
	.modal-subhead {
		font-size: 1.4em;
		letter-spacing: .05em;
	}
	.modal-footer-label {
		margin-top: 9px; 
	}
	.modal-footer {
		border-top: 1px solid $gray-light;
		&.modal-footer-center {
			text-align: center;
		}
		@media screen and (max-width: $screen-sm-max) {
			.btn {
				display: block;
	    		width: 100%;
	    	}
		}
	}
	.modal-body-scroll {
		max-height: 75vh;
		overflow-y: scroll;
	}
}