.player-filter {
	margin-bottom: 40px;
	border: 0;
}

.player-card {
	position: relative;
	overflow: hidden;
	&:hover {
		border-color: #666;
	}
	.add-icon-top {
		z-index: 5;
		font-size: 15px;
	}
	.cover-details {
		opacity: 1;
		transition: opacity 300ms ease-in-out;
	}
	.card-icons {
		position: absolute;
		top: 5px;
		left: 5px;
		font-size: 20px;
		z-index: 3;
		.fa {
			margin-right: 5px;
		}
	}
	.player-add-menu {
		position: absolute;
		top: 0px;
		// Give this some breathing room on the top so that hover states don't go crazy
		padding-top: 40px;
		z-index: 4;
		right: -120%;
		width: 80%;
		transition: all 300ms ease-in-out;
		li {
			display: block;
			margin-bottom: 4px;
			a, button {
				background-color: rgba(0,0,0,0.5);
				color: #fff;
				padding: 6px 12px;
				text-align: center;
				width: 100%;
				border-radius: 4px;
				text-decoration: none;
				display: block;
				@media screen and (max-width: $screen-sm-max) {
					font-size: 14px;
					padding: 4px 8px;
				}
				@media screen and (max-width: $screen-xs-max) {
					font-size: 12px;
				}
				&:hover {
					background-color: rgba(0,0,0,0.7);
					color: $brand-primary;
				}
			}
		}
	}
}

.player-card.add-menu-show {
	.add-icon-top {
		transform: rotate(45deg);
	}
	.player-add-menu {
		right: 5px;
	}
	.cover-details {
		opacity: 0.2;
	}
}