.profile-links {
	margin: 2em 0;
	li {
		@media screen and (min-width: $screen-md-min) {
			margin-right: .5em;
			display: inline-block;
		}
		@media screen and (max-width: $screen-sm-max) {
			display: block;
			.btn {
				display: block;
				width: 100%;
			}
			&:first-child .btn{
				border-bottom-left-radius: 0;
				border-bottom-right-radius: 0;
				border-bottom-width: 2px;
			}
			&:not(:first-child):not(:last-child) .btn{
				border-radius: 0;
				border-bottom-width: 0;
			}
			&:last-child .btn{
				border-top-left-radius: 0;
				border-top-right-radius: 0;
			}
		}
	}
	
}
.panel-group-games {
	.panel-heading {
		margin-bottom: 1em;
		h3 {
			font-size: 2em;
			small {
				vertical-align: middle;
			}
		}
	}
}
.system-avatars-modal {
	.pagination {
		margin: .25em 0 0 0;
	}
}

@media screen and (min-width: $screen-md-min) {
	.profile-nav, .account-nav {
		.side-nav-avatar img {
			width: 100%;
		} 
	}
}

.profile-events {
	&.table-responsive {	
		@media screen and (max-width: 768px) {
			border: none;
		}
	}
}