.slidenav {
    padding-top: 66px;
    @media screen and (max-width: $screen-sm-max) {
        padding-top: 52px
    }
    border-left: 1px solid #111;
    box-shadow: -2px 0 15px rgba(0,0,0,0.3);
    height: 100%;
    width: 0px;
    position: fixed;
    z-index: 1001;
    top: 0;
    right: 0;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiP…dpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==);
    background-size: 100%;
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #2c2c2c), color-stop(100%, #141414));
    background-image: -moz-linear-gradient(top, #2c2c2c 0%, #141414 100%);
    background-image: -webkit-linear-gradient(top, #2c2c2c 0%, #141414 100%);
    background-image: linear-gradient(to bottom, #2c2c2c 0%, #141414 100%);
    overflow-x: hidden;
    transition: all ease-in-out 300ms;
    &.slidenav-open {
        width: 280px;
        .toggle-slidenav {
            opacity: 1;
        }
    }
    .toggle-slidenav {
        opacity: 0;
        transition: opacity 300ms ease-in-out;
        transition-delay: 200ms;
        background: transparent;
        border: 0;
        color: #fff;
        padding: 10px;
        font-size: 1.33em;
        &:hover {
            color: $brand-primary;
        }
        &:focus, &:active {
            outline: none;
        }
    }
    .nav {
        border-top: 1px solid $gray;
        > li {
            margin-bottom: 2px;
            > a {
                background-color: rgba(0,0,0,0.3);
            }
        }
        .open > a, .open > a:hover, > li > a:hover, > li > a:focus {
            background-color: rgba(60,60,60,0.3);
        }
    }
    .dropdown-toggle .caret {
        margin-left: 8px;
        transform: rotate(0);
    }
    .open .dropdown-toggle .caret {
        transform: rotate(180deg);
    }
    .dropdown-menu {
        position: relative;
        width: 100%;
        background-color: rgba(60,60,60,0.3);
        box-shadow: none;
        border: 0;
        padding: 0;
        margin: 0;
        a {
            padding: 10px 22px;
        }
    }
}

.slidenav a {
    display: block;
    @include text-overflow();
}

@media screen and (min-width: $screen-sm-min) {
    .account-item .navbar-toggle {
        display:inline-block;
    }
}

.navbar-toggle {
    transition: all 200ms;
    padding-right: 0;
    background: transparent !important;
    border: none;
    position: relative;
    z-index: 1002;
    @media screen and (min-width: $screen-md-min) {
        margin-top: 0;
        padding-top: 24px;
    }
    @media screen and (min-width: $screen-sm-min) {
        margin-right: 0;
    }
    .icon-bar {
        width: 22px;
        transition: all 0.2s;
    }
    
    .top-bar {
        transform: rotate(0);      
    }
    .middle-bar {
        opacity: 1;
    }
    .bottom-bar {
        transform: rotate(0);
    }

    &.nav-open {
        position: fixed;
        @media screen and (min-width: $screen-md-min) {
            top: 0;
            right: 15px;
            margin: 0;
        }
        @media screen and (min-width: $screen-sm-min) and (max-width: $screen-sm-max) {
            top: 0;
            right: 23px;
        }
        @media screen and (max-width: $screen-xs-max) {
            top: 0;
            right: 0;
        }
        .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        .middle-bar {
            opacity: 0;
        }
        .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 10% 90%;
        }
    }
}