$('.modal-title').html('Block User -  <%= @blocked_user.username %>');
<%
if @contract.present?
    type = @contract.contract_type
%>
    $('.modal-body').html('<%= j render "contract_details", { :contract => @contract, :resource => resource } %>').addClass('contract-body');
    $('.modal-footer-label').html('Event Price: <%= @contract.price_in_cents == 0 ? "Free" : "$#{@contract.price_in_dollars}" %>');
<% else %>
    $('.modal-body').html('<%= j render "general", :user => @blocked_user %>').addClass('contract-body');
<% end %>
$('.modal-footer:not(".modal-contract-footer")').addClass('hidden');
$('.modal').modal('show');
