<li class="col-half card-wrapper player-card p-x-0-xs">
	<%= link_to clan_path(clan) do %>
		<div class="cover-details text-gray">
			<div>	<!-- <div> class="card-wrapper" -->
	    	<h4 align="center"><%= clan.name %></h4>
	    	<h5 align="center"><%= clan.motto %></h5>
	    </div>
		</div>
	  <div class="event-cover">
    	<div class="cover-bg">
    		<%= image_tag(clan_mobile_jumbo_url(clan)) %>
    	</div>
	    <div class="img-overlay"></div>
		</div>
		<div class="card-content">
			<div class="card-pad">
				<div class="row">
					<div class="col-xs-6">
						<p class="text-gray">
						  	<strong class="text-primary">Members:</strong> <%= clan.clan_members.count %>
						</p>
						<p class="text-gray">
						  	<strong class="text-primary">Activity Level:</strong> <%= clan.activity_level %>
						</p>
						<p class="text-gray">
							<strong class="text-primary">Average Age:</strong> <%= clan.average_age %>
						</p>
					</div>
					<div class="col-xs-6">
						<p class="text-gray">
						  	<strong class="text-primary">Titles:</strong> <%= clan.top_3_games.any? ? clan_pop_games_truncated(clan) : 'N/a' %>
						</p>
						<p class="text-gray">
						  	<strong class="text-primary">Systems:</strong> <%= clan.top_3_systems.any? ? clan_pop_systems_truncated(clan) : 'N/a' %>
						</p>
						<p class="text-gray">
						  	<strong class="text-primary">Time Zone:</strong> <%= clan.timezone.present? ? short_time_zone(clan.timezone) : ' &mdash;'.html_safe %>
						</p>
					</div>
				</div>
			</div>
		</div>
	<% end %>
</li>
