<div class="row">
  <div class="col-md-9">
    <h2 class="profile-title hidden-xs mt0">
      <% if active != "profile" %>
        <%= link_to clan_path(@clan) do %>
          <span class="fa fa-angle-left"></span>
          Clan Profile
        <% end %>
      <% else %>
        Clan Profile
      <% end %>
    </h2>
  </div>
  <div class="col-md-3 text-right-md">
    <% if current_user.present? %>
      <%= link_to "Edit Clan", edit_clan_path(@clan), class: "btn btn-primary hidden-xs" if @clan.is_host? current_user %>
    <% end %>
    <% if current_user.present? && @clan.application_reveiewer?(current_user) && @clan.clan_applications.present? %>
      <p class='pull-right'>&nbsp;</p>
      <%= link_to 'Pending Applications', clan_clan_applications_path(@clan), class: 'btn btn-primary hidden-xs', remote: true %>
    <% end %>
  </div>
  <div id='clan_applications'></div>
</div><!-- Row -->
  
  <div class="card-wrapper player-card p-x-0-xs">
    <button class="btn-link add-icon-top">
      <span class="fa fa-plus"></span>
    </button>
      <div class="player-add-menu">
        <ul class="list-unstyled">
          <li class="player-favorite">
            <%= render "clans/clan_actions" if current_user.present? %>
          </li>
          <% if current_user.present? %>
            <li><%= link_to "Donate", '#', data: { toggle: "modal", target: '#donate_popup'} %></li>
            <li><%= link_to "Contact", "#", data: { toggle: "modal", target: '#clan_contact'} %></li>
          <% else %>
            <li><%= link_to "Donate", user_session_path %></li>
            <li><%= link_to "Contact", user_session_path %></li>
          <% end %>

        </ul>
      </div>
      <!-- <p class='btn btn-primary' data-toggle="modal" data-target="#donate_popup">Donate</p> -->
    <%= render 'clan_donation' if current_user.present? %>
    <%= render 'clan_contact' if current_user.present? %>
    <%= render 'apply' if current_user.present? %>

    <%= image_tag(clan_jumbo_url(@clan), class: "hidden-xs") %>
    <%= image_tag(clan_mobile_jumbo_url(@clan), class: "visible-xs") %>
  </div>


<div class="clan-header">

  <h2 align="center"><%= @clan.name %></h2>
  <% if @clan.motto.present? %>
    <p class="small" align="center">"<%= @clan.motto %>"</p>
  <% end %>
  <%#= render "clans/clan_actions" if current_user.present? %>


  <% if false %>
    <div class="profile-cover hidden-xs">
      <div class="profile-holder">
        <div class="profile-bg">
          <%= image_tag(clan_jumbo_url(@clan)) %>
          <!-- <%= image_tag(@clan.mobile_jumbo) %> -->
        </div>
      </div>
      <div class="cover-content">
        <div class="row">
          <div class="col-md-12">
            <div class="media">
              <span class="media-left">
                <%= image_tag(clan_cover_url(@clan), class: "thumbnail-small media-object") %>
              </span>
              <div class="media-body">
                <h2 class="mt0"><%= @clan.name %></h2>
                <p><%= @clan.private? ? "Invite Only" : "Public Clan" %></p>
                <p class="small">"<%= @clan.motto %>"</p>
                <!-- <a href="#" class="btn btn-primary post-contract">Join Clan</a> -->
                <%= render "clans/clan_actions" if current_user.present? %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>

<% if current_user.present? %>
  <%= link_to "Edit Clan", edit_clan_path(@clan), class: "btn btn-primary btn-block visible-xs" if @clan.is_host? current_user %>
<% end %>
<% if current_user.present? && @clan.application_reveiewer?(current_user) && @clan.clan_applications.present? %>
  <p class='pull-right'>&nbsp;</p>
  <%= link_to 'Pending Applications', clan_clan_applications_path(@clan), class: 'btn btn-primary btn-full visible-xs', remote: true %>
<% end %>


