<section class="content-block hero-block">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3">
				<%= image_tag("game-mercenaries.png") %>
			</div>
		</div>
	</div>
</section>


<section>
	<div class="container">
		<p class="text-justify lead">Game Roster is an online tool that helps you organize gaming clans and events with friends, connect with new players, avoid trolls, and make money-playing games. Our goal is to simplify your gaming life and help you find great online players with one profile for all your games on a single trusted site that is endorsed by GameStop.</p>

		<p class="text-justify lead">We offer invites, group messaging, and interactive rosters to help organize your events.  We also have player ratings, reviews, videos, and economic incentives that encourage good behavior and provide information that will help you identify good gamers and avoid players that would ruin your online gaming experience. </p>

		<p class="text-justify lead">Only gamers meeting your personality, skill, approval, and cancelation rate criteria can join and interact with your events.   Search for games and players based on play style, age, reliability, or a number of other factors.  Check out our FAQ for more details.</p>

		<p class="text-justify lead">Create a profile, find players, join clans, or play public games for FREE or subscribe for $0.99/month or $4.99/year to collect donations, remove ads, upload a custom avatar, and host your own clan.</p>
		
	</div>
</section>
<br>
<section class="content-block about-block" >
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-6 text-center">
				<div>
					<span class="fa fa-cubes icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Community LFG℠</h3>
				<h4>Find available players</h4>
				<h4>Join the right team</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt">
				<div>
					<span class="fa fa-user icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Profiles</h3>
				<h4>Make informed choices</h4>
				<h4>Rate and review players</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt">
				<div>
					<span class="fa fa-usd icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Donations</h3>
				<h4>Reward Good Behavior</h4>
				<h4>Support Great Players</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt">
				<div>
					<span class="fa icon-circle">1</span>
				</div>
				<h3 class="text-center section-header">Simplicity</h3>
				<h4>One profile for all your titles</h4>
				<h4>All your titles on one site</h4>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt about-md-lg">
				<div>
					<span class="fa fa-comments icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Communication</h3>
				<h4>Forward messages to email</h4>
				<h4>No personal information shared</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt about-md-lg">
				<div>
					<span class="fa fa-calendar icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Coordination</h3>
				<h4>Group messaging and invites</h4>
				<h4>Interactive game rosters</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt about-md-lg">
				<div>
					<span class="fa fa-lock icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Trust</h3>
				<h4>Endorsed by GameStop</h4>
				<h4>Protect your information</h4>
			</div>
			<div class="col-md-3 col-sm-6 text-center about-sm-mt about-md-mt about-md-lg">
				<div>
					<span class="fa fa-share-alt icon-circle"></span>
				</div>
				<h3 class="text-center section-header">Social Sharing</h3>
				<h4>Facebook and Twitter integration</h4>
				<h4>Post events and availability</h4>
			</div>

		</div>
	</div>
</section>

<section class="content-block about-block">
	<div class="container about-sm-mt">
		<h2 class="text-center section-header">Privacy Matters</h2>
		<br>
		
		<p class="text-center lead">Nothing is truly free in this world. We despise “Free” sites that track your browsing history and sell your data to fund their operation. We are not one of these places and will not install tracking pixels or ever sell your information.</p>

		<p class="text-center lead">Privacy is hugely important to us. We hate junk mail, marketers, and creeps stealing identities. We hope users enjoy the site for what it is and support us by subscribing to our premium tier for just about a penny a day.</p>


		<div class="text-center">
			<%= link_to "Get Started Now", new_user_registration_path, class: 'btn btn-primary btn-lg btn-x' %>
		</div>

		<br>

		<h3 class="text-center">Join the Fight℠</h3>

		<br>

		<div class="row">
			<div class="text-center col-md-2 col-md-offset-5 col-xs-4 col-xs-offset-4">
				<%= link_to 'http://gamestop.com', target: '_blank', class: 'img-link' do %>
					<%= image_tag("GameStopLogo_WhiteRed.png") %>
				<% end %>
			</div>
		</div>
	</div>
</section>

