<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<%= image_tag("game-mercenaries.png") %>
			</div>
			<div class="col-md-6 col-sm-8">
					<h1 class="mt0">Sign Up Complete</h1>
					<h3>Thank you for registering.</h3>
					<h3>You will be receiving an email to confirm your registration soon.</h3>
			</div>
		</div>
	</div>
</div>

<!-- Google Code for Destiny LFG Sign Up Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1024046696;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "eMYDCP3A718Q6Oym6AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1024046696/?label=eMYDCP3A718Q6Oym6AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript> 