<%= link_to profile_favorite_path(current_user.favorite_by_user(player)), :method => 'delete', class: '', data: { :confirm => "Are you sure you want to remove #{player.username} from your favorites?"} do %>
	Remove Favorite
<% end %>