<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-4">
				<%= image_tag("game-mercenaries.png") %>
			</div>
			<div class="col-md-6 col-sm-8">
					<h1 class="mt0 stencil-header">404 Error</h1>
					<h3>We screwed up!</h3>
					<h3>Sorry, but we cannot find your page. Please try again and <%= link_to "Contact Us", contact_requests_path %> if the problem persists.</h3>
			</div>
		</div>
	</div>
</div>
