<% if @clan.host.present? %>
  <div class="row">
    <div class="col-md-12">
      <h2>Clan Host</h2>

      <!-- <div class="player-card card-wrapper"> -->
        <%#= link_to profile_path(@clan.host), class: "media-left" do %>
          <!-- Removed code here-->
        <%# end %>
      <!-- </div> -->

      <div class="roster-invites-wrapper clearfix">
        <ul class="list-unstyled">
          <li class="<%= browser.device.mobile? ? '' : '' %> card-wrapper player-card p-x-0-xs">
            <%= link_to profile_path(@clan.host) do %>
            <div class="row">
              <div class="col-xs-3">
                <%= image_tag(@clan.host.avatar_url, class: "avatar-lg") if @clan.host %>
              </div>
              <div class="col-xs-9">
                <div class="card-content">
                  <div class="host-title">
                        <strong class="text-primary">User Name:</strong> <div class="gray_font"><%= @clan.host.username %></div>
                  </div>
                  <div class="row">  
                    <div class="col-xs-6">
                      <p class="text-gray">
                          <strong class="text-primary">PSA:</strong> 
                          <%if @clan.host.psa_rating == 0 %>
                            N/A
                          <% else %>
                            <span class="psa-rating-read-only" data-score="<%= @clan.host.psa_rating %>"></span>
                          <% end %><br>
                      </p>
                      <p class="text-gray">
                          <strong class="text-primary">Exp:</strong> <%= @clan.host.contracts_completed %> <%# contracts_completed is the same as experience but is persisted to user model %> 
                      </p>
                    </div>
                    <div class="col-xs-6">
                      
                      <p class="text-gray">
                          <strong class="text-primary">Age:</strong> <%= @clan.host.public_age ? @clan.host.age : 'Not Public' %> <%# do we need to hide ages still? %>
                      </p>

                       <p class="text-gray">
                          <strong class="text-primary">Founder Since:</strong> <%= @clan.host.created_at.strftime("%m/%e/%y")%>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
<% end %>
