<%
#----------------------------
# NOTE: This view shows both contracts and rosters, claimed and posted
#----------------------------

%>
<div class="container">
  <%= render 'layouts/flash' %>
	<div class="well my-events">
		<div class="row heading">
			<div class="col-md-6">
        <h2 class="mt0">Posted Contracts</h2>
			</div>
			<div class="col-md-6 post-buttons text-right-md">
				<%= link_to 'Post Availability', new_posted_contract_path(), class: "btn btn-primary post-contract" %> 
			</div>
		</div>


    <div class="text-right-md">
      <button class="btn btn-outline" data-toggle="collapse" data-target="#collapse-filters" aria-expanded="false" aria-controls="collapseExample">Filter Options</button>
    </div>


    <br>

		<div class="filter-panel collapse" id="collapse-filters">
      <!-- Player Filter -->
      <%= render 'contracts/contracts/filter_form' %> 
    </div>
		<div>
      <ul class="list-unstyled clearfix">         
	       <%= render :partial => 'events/event', collection: @contracts, as: :event %>
      </ul>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div>  
          <%= paginate @contracts %> 
        </div>
      </div>
    </div>
  </div>
</div>