var target = $("#player-<%= @favorited_user.id %>"),
	link = $("#player-<%= @favorited_user.id %> .player-favorite");

link.html('<%= j render "shared/favorites/remove", player: @favorited_user %>');

// Wait a splitsecond so the user sees the button change
setTimeout(function(){
	target.removeClass('add-menu-show');
}, 200);