<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="devise-block">
					<h1 class="text-center">Change Password</h1>
					<%= bootstrap_form_for(resource, as: resource_name, url: user_password_path(resource), html: { method: :put }) do |f| %>
					  <%= f.error_summary %>
					  <%= f.hidden_field :reset_password_token %>

					  <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
					  <%= f.password_field :password_confirmation, autocomplete: "off" %>
					  <%= f.submit "Change my password", class: "btn btn-primary btn-x"%>
					<% end %>

					<div class="form-group">
						<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
						  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
						<% end -%>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
