.custom_links, .video_url, .clan_questions{
	i{
		margin-top: 35px;
		font-size: 30px
	}
	.add_button{
		font-size: 25px;
	}
	.remove_link{
		cursor: pointer;
	}
}
.remove_video{
	width: 50px;
}
.topmrg_20{
	margin-top: 20px;
}
.btn-full{
	width: 100%;
}
.host-title{text-align:center; margin:10px auto; display:block;font-size:22px;}
.gray_font{color: #A8A8A8;display: inline-block;}
@media(max-width: 480px){
	.btn-full{margin-top: 10px;}
	.clan-stats .roster-list dt{margin-right:10px;}
	.clan-stats .roster-list dt, .roster-list  {font-size: 14px;}
}
.pending_application_mobile{
		display: none;
}
.pending_application_desktop{
	td{
		vertical-align: inherit !important;
	}
}
@media(max-width: 600px){
	.pending_application_desktop{
		display: none;
	}
	.pending_application_mobile{
		display: block;
	}
	.btn-discord {width: 150px;margin: 10px auto;display:block;}
}
