<h2>Events</h2>
<div class="container-box">
  <div class="profile-events table-responsive">
    <%= grid(@grid, show_filters: :no, hide_csv_button: true, html: {class: 'table table-responsive admin-games table-striped data-tr'}) do |g|
      link_url = ''

      g.column name: 'Type', attribute: 'contract_type' do | c |

        if c.contract_type == 'Bounty'
          link_url = bounty_path(Bounty.find(c.id))
        elsif c.contract_type == 'Roster'
          link_url = roster_path(Roster.find(c.id))
        else
          link_url = contract_path(c)
        end

        if c.price_in_cents != 0 && !current_user.can_create_paid_contracts?
          if c.contract_type == 'Bounty'
            "Players Needed" 
          else
            "Available"
          end
        else
          if c.contract_type == 'Bounty'
            link_to "Players Needed", link_url, remote: true
          elsif c.contract_type == 'Roster'
            link_to "Players Needed", link_url
          else
            link_to "Available", link_url, remote: true
          end
        end

      end

      g.blank_slate do
        content_tag :div, 'No open events to display', class: 'no-results'
      end

      g.column name: 'Titles', attribute: 'start_date_time' do | c |
        if c.price_in_cents != 0 && !current_user.can_create_paid_contracts?
          ((c.game_game_system_joins.map { | ggs | ggs.game.title }).join ', ')
        else
          link_to ((c.game_game_system_joins.map { | ggs | ggs.game.title }).join ', '), link_url, remote: true
        end
      end

      g.column name: 'Time', attribute: 'start_date_time' do | c |
        if c.price_in_cents != 0 && !current_user.can_create_paid_contracts?
          c.start_date_time.strftime('%m/%d %I:%M%p')
        else
          link_to c.start_date_time.strftime('%m/%d %I:%M%p'), link_url, remote: true
        end
      end

      g.column name: 'Length', attribute: 'start_date_time' do | c |
        d = c.contract_type == 'Bounty' ? 2 : c.duration/60
        if c.price_in_cents != 0 && !current_user.can_create_paid_contracts?
          "#{d} #{"Hour".pluralize d}"
        else
          link_to "#{d} #{"Hour".pluralize d}", link_url, remote: true
        end
      end

      g.column name: 'Price', attribute: 'price_in_cents' do | c |
        if c.contract_type == 'Bounty'
          link_to link_url, remote: true do
            raw "<span class='wbmr-price #{ c.price_in_cents != 0 ? 'text-success' : ''}'>#{c.price_in_cents == 0 ? 'Free' : '$' + c.price_in_dollars} </span>"
          end
        else
          link_to link_url, remote: true do
            raw "<span class='wbmr-price #{ c.price_in_cents != 0 ? 'text-danger' : '' }'>#{c.price_in_cents == 0 ? 'Free' : '$' + c.price_in_dollars} </span>"
          end
        end
      end

      g.column name: '', class: 'text-right-md' do |c|
        if c.contract_type == 'Bounty'
          r = Bounty.find(c.id)
          if r.can_be_claimed_by_user? current_user
            link_to link_url, class: "btn btn-sm btn-primary", :html => {'data-tablesaw-priority' => "persist"}, remote: true do
              "Select"
            end
          end
        else
          if c.contract_type == 'Roster'
            link_to link_url, class: "btn btn-sm btn-primary", :html => {'data-tablesaw-priority' => "persist"} do
              "Select"
            end
          elsif c.can_be_claimed_by_user? current_user
            if c.price_in_cents != 0 && !current_user.can_create_paid_contracts?
            else
              link_to link_url, class: "btn btn-sm btn-primary", :html => {'data-tablesaw-priority' => "persist"}, remote: true do
              "Select"
              end
            end
          end
        end
      end

    end -%>
  </div>
</div>
