<div class="side-nav-container container-box">
	<div class="form-group">
		<label>Personality Rating</label>
		<%if resource.personality_rating == 0 %>
			N/A
		<% else %>
			<span class="psa-rating-read-only" data-score="<%= resource.personality_rating %>">

			</span>
		<% end %>
	</div>
	<div class="form-group">
		<label>Skill Rating</label>
		<%if resource.skill_rating == 0 %>
			N/A
		<% else %>
			<span class="psa-rating-read-only" data-score="<%= resource.skill_rating %>">

			</span>
		<% end %>
	</div>
	<div class="form-group">
		<label>Approval Rating</label>
		<%if resource.approval_rating == 0%>
			N/A
		<% else %>
			<span class="psa-rating-read-only" data-score="<%= resource.approval_rating %>">

			</span>
		<% end %>
	</div>
	<div class="form-group">
		<label>Generosity Rating</label>
		<%if resource.generosity_rating == 0%>
			N/A
		<% else %>
			<span class="psa-rating-read-only" data-score="<%= resource.generosity_rating %>">

			</span>
		<% end %>
	</div>
	<%= link_to "View All Feedback", profiles_path + '/' + resource.username + '/feedback'  %>
</div>

<div class="side-nav-container container-box">
	<div class="form-group">
		<label>Experience</label>
		<p><%= resource.contracts_completed %></p>
	</div>
	<div class="form-group">
		<label>Cancellation Rate</label>
		<p> <%= resource.cancellation_rate.present? ? "#{resource.cancellation_rate}%" : 'N/A' %>  </p>
	</div>
</div>

<div class="side-nav-container container-box">
	<% if resource.public_age == true %>
		<div class="form-group">
			<label>Player Age</label>
			<p><%= age_in_years(resource.date_of_birth) %></p>
		</div>
	<% else %>
		<div class="form-group">
			<label>Player is a Minor</label>
			<p><%= resource.date_of_birth <= (Time.now - 18.years) ? 'No' : 'Yes' %></p>
		</div>
	<% end %>
	<% if resource.will_play.present? %>
		<div class="form-group">
			<label>Will Play</label>
			<%= resource.will_play %>
		</div>
	<% end %>
	<% if resource.newbie_patience_level.present? %>
		<div class="form-group">
			<label>Newb Patience Level</label>
			<%= resource.newbie_patience_level %>
		</div>
	<% end %>
	<% if resource.playing_games_since.present? %>
		<div class="form-group">
			<label>Playing Games Since</label>
			<%= resource.playing_games_since %>
		</div>
	<% end %>
	<div class="form-group">
		<label>Languages</label>
		<%= resource.languages.join(', ') %>
	</div>
	<% if resource.may_record_or_stream.present? %>
		<div class="form-group">
			<label>May Record or Stream</label>
			<%= resource.may_record_or_stream %>
		</div>
	<% end %>
</div>
