<h2>User's Titles</h2>
<div class="container-box">
  <div class="panel-group panel-group-clear panel-group-games" id="user-games" role="tablist" aria-multiselectable="true">

    

    <% (resource.game_systems.eager_load(:games).sort_by &:title).each_with_index do | gs, index | games = resource.game_game_system_joins.where :game_system_id => gs.id %>
  
      <div class="panel panel-clear">
        <div class="panel-heading" role="tab" id="heading<%= gs.title.parameterize %>">
          <h3 class="panel-title">
            <%= gs.title %> - <small>(<%= games.count %>)</small>
          </h3>
        </div>
        <div id="collapse<%= gs.title.parameterize %>" class="panel-collapse <%= index == 0 ? 'in' : '' %>" role="tabpanel" aria-labelledby="heading<%= gs.title.parameterize %>">
          <div class="panel-body">
            <ul class="game-list clearfix">
              <% games.all.joins(:game).order('games.title').each do | g | %>
              <% game = g.game %>
                <li class="game-item col-fifth">
                  <%= game_cover_html game %>
                  <div class="game-details">
                    <h5 class="mb0"><%= game.title%></h5>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
