<div class="background-block content-area blocks-and-feedback">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/accountnav" %>
			</div>

			<div class="col-md-9">
				<h3 class="mt0">Rate and Block Users</h3>
				<% if !is_mobile_app? || params[:v] != 'blocks' %>
					<div class="ratings">
						<% unless is_mobile_app? %>
							<%= render 'profile/profile/rate_info' %>
						<% end %>
						<h4>Needs Feedback</h3>
						<div class="container-box">
							<% if @rateable_users.count == 0 %>
								All users have been rated.
							<% else %>
								<%= render 'profile/profile/rate_user' %>
							<% end %>
						</div>
						<% if is_mobile_app? %>
							<%= render 'profile/profile/rate_info' %>
						<% end %>
					</div>
				<% end %>
				<% if !is_mobile_app? || params[:v] == 'blocks' %>
					<h4>Blocked Users</h3>
					<div class="container-box">

						<% if @blocked.count > 0 %>
							<ul class="media-list feedback-list">
								<% @blocked.each do | b | %>
									<li class="media">
										<div class="media-left">
											<%= link_to profiles_path() + '/' + b.blocked_user.username do %>
												<%= image_tag(b.blocked_user.avatar_url, class: 'media-object avatar-sm') %>
											<% end %>
										</div>
										<div class="media-body">
											<div class="row">
												<div class="col-md-6">
													<%= link_to profiles_path() + '/' + b.blocked_user.username do %>
														<h4 class="media-heading"><%= b.blocked_user.username %></h4>
													<% end %>
													<%= link_to 'Unblock User', profile_block_path(b), :method => 'delete', class: "btn btn-sm btn-primary", data: { :confirm => "Are you sure you want to unblock #{b.blocked_user.username}?" } %>
												</div>
											</div>
										</div>
									</li>
								<% end %>
							</ul>
						<% else %>
							You are not blocking anyone
						<% end %>

					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>
