<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/accountnav" %>
			</div>
			<div class="col-md-9">
				<div class="devise-block">
					<h2 class="mt0">Edit Profile</h2>
					<%= render 'layouts/flash' %>
			          <%= form_for resource, {url: "/profile", html: { multipart: true }} do |f| %>
						<% if resource.errors.any? %>
							<div id="error_explanation">
							  <ul>
							  <% resource.errors.full_messages.each do |message| %>
								<li><%= message %></li>
							  <% end %>
							  </ul>
							</div>
						 <% end %>
						<div class="row">
							<div class="col-md-4 col-sm-6" id="avatar_container">
								<div class="default-avatar" <%= resource.custom_avatar ? 'style=display:none;' : '' %>>
									<div class="form-group text-center">
										<%= link_to image_url(resource.avatar_url), target: "_blank" do %>
											<%= image_tag(resource.system_avatar_url, class: "avatar-lg") %>
										<% end %>
									</div>
									<div class="form-group">
										<%= link_to 'Select Avatar', profile_avatar_path, remote: true, class: 'btn btn-primary btn-block' %>
										<%= f.hidden_field :system_avatar_id %>
									</div>
								</div>
			            <% if resource.has_premium_access?(is_mobile_app?) %>
									<div class="custom-avatar" <%= resource.custom_avatar ? '' : "style=display:none;" %>>
										<% if resource.avatar.present? %>
											<div class="form-group text-center">
												<%= link_to resource.avatar.url, target: "_blank" do %>
													<%= image_tag(resource.avatar.url) %>
												<% end %>
											</div>
											<div class="form-group">
												<span class="btn btn-primary btn-file btn-block">
												    <span class="file-label">Browse</span> <%= f.file_field :avatar, data:{filename_placement: "inside", show_upload: "false"}%>
												</span>
											</div>
										<% else %>
											<div class="form-group text-center">
												<%= image_tag('roster-placeholder.jpg', style: "opacity: 0.3") %>
											</div>
											<div class="form-group">
												<span class="btn btn-primary btn-file btn-block">
												    <span class="file-label">Browse</span> <%= f.file_field :avatar, data:{filename_placement: "inside", show_upload: "false"}%>
												</span>
												<%= f.hidden_field :avatar_cache %>
											</div>
										<% end %>
									</div>
								<% end %>
							</div>
							<div class="col-md-8 col-sm-6">
								<div class="form-group">
									<h3 class="mt0">Use Custom Avatar</h3>
									<% if !resource.has_premium_access?(is_mobile_app?) %>
										<p>
											<% if resource.active_ios_subscription.present? %>
												Due to restrictions set by Apple, you can only upload a custom avatar through the mobile app.
											<% else %>
												Premium members are able to upload their own custom avatar. To learn more about the benefits of premium membership, visit your <%= link_to "Subscriptions Page", profile_subscription_path %>.
											<% end %>
										</p>
									<% else %>
										<div class="form-group">
											<label class="switch">
												<%= f.check_box :custom_avatar, :class => (resource.is_premium? ? "switch-input" : "switch-input disabled"), :id => "toggle-custom-avatar",  :value => "true", disabled: !resource.is_premium? %>
										      <span class="switch-label" data-on="Yes" data-off="No"></span>
										      <span class="switch-handle"></span>
										    </label>
										</div>
									<% end %>
								</div>
							</div>
						</div>

						<h3>General Information</h3>
						<div class="form-group">
							<label>Bio</label>
							<%= f.text_area :bio, :rows=>"6", class: "form-control", placeholder: "Use your bio to advertise your skills and showcase your personality.  What makes you unique?   Are you good with a sword or a sniper rifle?  What is the key to winning?" %>
							</div>
						<div class="form-group">
							<label>Ground Rules</label>
							<%= f.text_area :ground_rules, :rows=>"6", class: "form-control", label: "Ground Rules" %>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>Languages</label>
									<%= f.select :languages, options_for_select(User.available_languages, resource.languages), {include_blank: true}, {:class => 'form-control chosen-select', :multiple => true} %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Timezone</label>
									<%= f.time_zone_select :timezone, nil, {}, {:class => 'form-control'}%>
								</div>
							</div>
						</div>

						<h3>Gaming Information</h3>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<label>PSN Online ID</label>
									<%= f.text_field :psn_user_name, class: "form-control", label: "PSN Online ID" %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Xbox Gamertag</label>
									<%= f.text_field :xbox_live_user_name, class: "form-control", label: "Xbox Gamertag" %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>PC User Names</label>
									<%= f.text_area :pc_user_name, :rows=>"3", class: "form-control", label: "PC User Names", placeholder: "Example Account Type : Username, Steam : MySteamName" %>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<label>Nintendo Network ID</label>
									<%= f.text_field :nintendo_user_name, class: "form-control", label: "Nintendo Network ID" %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Prefer to Play</label>
									<%= f.select(:will_play, options_for_select(["All Types", "Player vs. Player", "Player vs. Enemy"], resource.will_play), {:label => 'Prefer to Play'}, {:class => "form-control"}) %>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Newb Patience Level</label>
									<%= f.select(:newbie_patience_level, options_for_select(["High", "Low"], resource.newbie_patience_level), {include_blank: true, :label => 'Newb Patience Level'}, :class => "form-control") %>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>May Record Or Stream</label>
									<%= f.select(:may_record_or_stream, options_for_select(["Yes", "No"], resource.may_record_or_stream), {include_blank: true}, {:class => "form-control"}) %>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-8">
								<div class="form-group">
									<label>Playing Games Since</label>
									<%= f.select(:playing_games_since, options_for_select(1980..Date.today.strftime("%Y").to_i, resource.playing_games_since), {include_blank: true}, {:class => "form-control chosen-select"}) %>
								</div>
							</div>
							<div class="col-md-4">
								<div class="form-group">
									<label>Display My Age</label>
									<div class="form-group">
										<label class="switch">
											<%= f.check_box :public_age, :class => "switch-input", :id => "toggle-waitlist",  :value => "true" %>
									      <span class="switch-label" data-on="Yes" data-off="No"></span>
									      <span class="switch-handle"></span>
									    </label>
									</div>
								</div>
							</div>
						</div>


						<h3>Highlight Videos</h3>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<label>Twitch</label>
									<%= f.text_field :twitch_video_url, :label => 'Twitch', class: "form-control", :help => 'Enter the Share URL (ex. https://www.twitch.tv/username)' %>
								</div>
								<p style="margin-top: -.5em;">
								    <span class="helper-text">
									<small>Enter the Share URL or just your username (ex. https://www.twitch.tv/username)</small>
								    </span>
								</p>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<label>Youtube</label>
									<%= f.text_field :youtube_video_url, :label => 'YouTube', class: "form-control", :help => 'Enter the Share URL (ex. https://youtu.be/A1b2C3d4E5f)' %>
								</div>
								<p style="margin-top: -.5em;"><span class="helper-text"><small>Enter the Share URL (ex. https://youtu.be/A1b2C3d4E5f)</small></span></p>

							</div>
						</div>

						<h3>Player Preferences</h3>
						Your events will be hidden from players who do not meet these preferences
						<div class="row">
							<div class="col-md-4">
								<div class="form-group">
									<label>Minimum Personality Rating</label>
							        <div class="checkbox">
							        	<div class="form-group">
							        		<div class="radio">
								        		<label>
											  		<%= f.radio_button :required_personality_rating, 4 %><span class="psa-rating-read-only" data-score="4"></span> +
											  	</label>
											</div>
											<div class="radio">
								        		<label>
													<%= f.radio_button :required_personality_rating, 3 %><span class="psa-rating-read-only" data-score="3"></span> +
												</label>
											</div>
											<div class="radio">
								        		<label>
													<%= f.radio_button :required_personality_rating, 2 %><span class="psa-rating-read-only" data-score="2"></span> +
												</label>
											</div>
											<div class="radio">
								        		<label>
													<%= f.radio_button :required_personality_rating, 1 %><span class="psa-rating-read-only" data-score="1"></span> +
												</label>
											</div>
											<div class="radio">
								        		<label>
											 		<%= f.radio_button :required_personality_rating, 0 %> Any
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<label>Minimum Skill Rating</label>
						        <div class="checkbox">
									<div class="form-group">
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_skill_rating, 4 %><span class="psa-rating-read-only" data-score="4"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_skill_rating, 3 %><span class="psa-rating-read-only" data-score="3"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
										  		<%= f.radio_button :required_skill_rating, 2 %><span class="psa-rating-read-only" data-score="2"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_skill_rating, 1 %><span class="psa-rating-read-only" data-score="1"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_skill_rating, 0 %> Any
											</label>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-4">
								<label>Minimum Approval Rating</label>
						        <div class="checkbox">
									<div class="form-group">
										<div class="radio">
								        	<label>
											<%= f.radio_button :required_approval_rating, 4 %><span class="psa-rating-read-only" data-score="4"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_approval_rating, 3 %><span class="psa-rating-read-only" data-score="3"></span> +
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_approval_rating, 2 %><span class="psa-rating-read-only" data-score="2"></span> +
											</label>
										</div>

										<div class="radio">
								        	<label>
												<%= f.radio_button :required_approval_rating, 1 %><span class="psa-rating-read-only" data-score="1"></span> +
											</label>
										</div>
										<div class="radio">
								        	<label>
												<%= f.radio_button :required_approval_rating, 0 %> Any
											</label>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="input-slider-container">
							<div class="form-group">
								<label>Maximum Cancellation Rate</label>
								<%= f.text_field :required_cancellation_rate, label: "Maximum Cancellation Rate", class: 'input-slider-percent', data: { :slider_min => 0, :slider_max => 100, :slider_value => f.object.required_cancellation_rate } %>
							</div>
							<p>Note: The player preference fields above will help match you with more ideal players but be aware that setting the thresholds too high will limit your ability to find buyers or other players.  Also, keep in mind that being a mercenary is often about helping someone that may have lower ratings.</p>
						</div>
						<h4>Site Averages</h4>
						<div class="row">
							<div class="col-md-4">
								<label>Personality Rating</label><br />
								<span class="psa-rating-read-only" data-score="<%= @site_averages[:personality_rating] %>"></span>
							</div>
							<div class="col-md-4">
								<label>Skill Rating</label><br />
								<span class="psa-rating-read-only" data-score="<%= @site_averages[:skill_rating] %>"></span>
							</div>
							<div class="col-md-4">
								<label>Approval Rating</label><br />
								<span class="psa-rating-read-only" data-score="<%= @site_averages[:approval_rating] %>"></span>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<label>Cancellation Rate</label><br />
								<%= @site_averages[:cancellation_rate] %>%
							</div>
						</div>

						<hr />

						<div class="form-group clearfix">
								<%= f.submit "Update", class: "btn btn-primary btn-lg btn-x pull-right-md" %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
