<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="account-nav profile-nav">
					<div class="side-nav-avatar image-container">
						<% if current_user.present? and (resource.id == current_user.id) %>
							<%= link_to profile_path do %>
								<% image_tag(current_user.avatar_url) %>
							<% end %>
						<% else %>
							<%= image_tag(resource.avatar_url) %>
						<% end %>
					</div>
					<%= render 'profile/profile/sidebar_details' %>
				</div>
			</div>

  		<div class="col-md-9">
				<h1 class="mt0">
					<%= resource.username %>
					<% if current_user.present? && current_user.is_blocking_user?(resource) %>
						<span class="label label-default blocked-label">Blocked</span>
					<% end %>
				</h1>
				<ul class="list-unstyled profile-links">
					<% if current_user.present? and (resource.id == current_user.id) %>
						<li>
							<%= link_to edit_profile_path, class: "btn btn-lg btn-outline" do %>
								<span class="fa fa-gear"></span>Edit Profile
							<% end %>
						</li>
					<% end %>
					<% if current_user.present? && current_user != resource %>
						<% if !resource.is_blocking_user?(current_user) and !current_user.is_blocking_user?(resource) %>
							<li>
								<%= link_to new_message_path(:recipient_id => resource.id), class: "btn btn-lg btn-outline" do %>
									<span class="fa fa-envelope"></span>Message
								<% end %>
							</li>
							<% if current_user.present? %>
								<li>
									<% if current_user.is_favoriting_user?(resource) %>
										<%= link_to profile_favorite_path(@favorite.id), :method => 'delete', class: 'btn btn-lg btn-outline', data: { :confirm => "Are you sure you want to remove #{resource.username} from your favorites?"} do %>
											<span class="fa fa-check"></span>Favorited
										<% end %>
									<% else %>
										<%= form_for @favorite, url: profile_favorites_path do |f| %>
										    <%= f.hidden_field :favorited_user_id, value: resource.id %>
										    <button type="submit" class="btn btn-lg btn-outline"><span class="fa fa-heart"></span>Favorite</button>
										<% end %>
									<% end %>
								</li>
							<% end %>
             				 <li>
             				 	<%= link_to new_profile_donation_path(resource.username), class: "btn btn-lg btn-outline" do %>
             				 		<span class="fa fa-paypal"></span>Donate
             				 	<% end %>
             				 </li>
							<li>
								<%= link_to new_profile_block_path({:blocked_user_id => resource.id}), class: "btn btn-lg btn-outline", remote: true  do %>
									<span class="fa fa-ban"></span>Block User
								<% end %>
							</li>
						<% elsif current_user.is_blocking_user?(resource) %>
							<li>
								<%= link_to profile_block_path(current_user.blocks.where(:blocked_user => resource)[0]), :method => 'delete', data: { :confirm => "Are you sure you want to unblock #{resource.username}?" }, class: "btn btn-lg btn-outline" do %>
									<span class="fa fa-ban"></span>Unblock User
								<% end %>
							</li>
						<% end %>
					<% end %>
				</ul>

        <% unless @ign_list.empty? %>
            <h2>IGN</h2>
            <ul class="ign-list">
                <% @ign_list.each do |i| %>
                    <li class="ign-item">
                        <%-# i[0] = IGN username %>
                        <%-# i[1] = Platform (PC, Xbox, etc) %>
                        <strong><%= i[1] %>:</strong> <%= i[0] %>
                    </li>
                <% end %>
            </ul>
        <% end %>

				<h2>bio</h2>
				<%= simple_format(resource.bio) %>
				<% if resource.ground_rules? %>
					<h2>Ground rules</h2>
					<%= simple_format(resource.ground_rules) %>
				<% end %>
				<% if resource.twitch_video_url.present? || resource.youtube_video_url.present? %>
					<%= render 'profile/profile/highlights' %>
				<% end %>
				<br>
				<% if resource.game_systems.eager_load(:games).count > 0 %>
					<%= render 'profile/profile/user_games' %>
				<% end %>
				<% if resource.clans.count > 0 %>
					<%= render 'profile/profile/clans' %>
				<% end %>
				<br />
				<% if current_user.present? || current_admin.present? %>
					<%= render 'profile/profile/events' %>
				<% end %>
  		</div>
 		</div>
	</div>
</div>
