<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<%= render "layouts/adminnav" %>
			</div>
			<div class="col-md-9">
        <h2 class="mt0"><%= link_to resource.username, "/profiles/#{resource.username}" %></h2>
				<p id="notice"><%= notice %></p>

				<h3 class="mt0">User Info</h3>
				<div class="container-box">
					<div class="form-group">
						<label>Email:</label>
						<%= resource.email %>
					</div>
					<div class="form-group">
						<label>Sign In Count:</label>
						<%= resource.sign_in_count %>
					</div>
					<div class='row'>
						<div class ='col-md-3'><%= link_to "Edit User Account", admin_user_account_path(resource.id), class: "btn btn-primary" %></div>
						<div class = 'col-md-3'><%= link_to "Edit User Profile", admin_user_become_path(resource.id, prev_action: '/profile/edit'), method: :post, 
							class: "btn btn-primary" %></div>
						<div class ='col-md-3'><%= button_to "Delete User Account", admin_user_path(resource.id), method: :delete, class: "btn btn-danger" %></div>
					</div>
				</div>

				<h3>Subscription</h3>
				<div class="container-box">
		          <p>
		            <% if resource.confirmed? %>
		              User confirmed account on <%= long_date_time resource.confirmed_at %>
		            <% else %>
		              User is not confirmed. Confirmation email sent on <%= short_date_time resource.created_at %><br />
		              <%= link_to 'Confirm Account', admin_user_confirm_path(resource), class: 'btn btn-large btn-primary' %>
		            <% end %>
		          </p>
		          <p>
		            Subscription:
		            <% if resource.trial_expiration.present? %>
		              Trial expires on <%= short_date resource.trial_expiration %>
		            <% else %>
		              Lifetime Free
		            <% end %>
		          </p>
		          <%= link_to "Edit Expiration", edit_admin_user_path(resource.id), class: "btn btn-primary" %>
		        </div>

				<h3>User Preferences</h3>
				<div class="container-box">
					<div class="form-group">
						<label>Minimum Personality Rating:</label>
						<span class="psa-rating-read-only" data-score="<%= resource.required_psa_rating %>"></span>
					</div>
					<div class="form-group">
						<label>Minimum Personality Rating:</label>
						<span class="psa-rating-read-only" data-score="<%= resource.required_personality_rating %>"></span>
					</div>
					<div class="form-group">
						<label>Minimum Skill Rating:</label>
						<span class="psa-rating-read-only" data-score="<%= resource.required_skill_rating %>"></span>
					</div>
					<div class="form-group">
						<label>Minimum Approval Rating:</label>
						<span class="psa-rating-read-only" data-score="<%= resource.required_approval_rating %>"></span>
					</div>
					<div class="form-group">
						<label>Maximum Cancellation Rate:</label>
						<%= resource.required_cancellation_rate %>%
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
