
<ul class="list-unstyled social-links clan-media">
	<% if clan.youtube.present? %>
		<li>
			<a href="https://www.youtube.com/<%= "#{clan.youtube}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-youtube"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Youtube</strong> | <%= clan.youtube %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.twitch.present? %>
		<li>
			<a href="https://www.twitch.com/<%= "#{clan.twitch}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-twitch"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Twitch</strong> | <%= clan.twitch %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.discord.present? %>
		<li>
			<a href="http://discordapp.com/channels/<%= "#{clan.discord}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-comment fa-discord"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Discord</strong> | <%= clan.discord %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.curse.present? %>
		<li>
			<a href="https://www.curse.com/<%= "#{clan.curse}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-youtube"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Curse</strong> | <%= clan.curse %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.facebook.present? %>
		<li>
			<a href="https://www.facebook.com/<%= "#{clan.facebook}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle text-center">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-facebook "></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Facebook</strong> | <%= clan.facebook %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.google.present? %>
		<li>
			<a href="https://plus.google.com/<%= "#{clan.google}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle text-center">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-google-plus"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Google+</strong> | <%= clan.google %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.twitter.present? %>
		<li>
			<a href="https://www.twitter.com/<%= "#{clan.twitter}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-twitter"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Twitter</strong> | <%= clan.twitter %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.instagram.present? %>
		<li>
			<a href="https://www.instagram.com/<%= "#{clan.instagram}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-instagram"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Instagram</strong> | <%= clan.instagram %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.reddit.present? %>
		<li>
			<a href="https://www.reddit.com/<%= "#{clan.reddit}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-reddit"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Reddit</strong> | <%= clan.reddit %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.patreon.present? %>
		<li>
			<a href="https://www.patreon.com/<%= "#{clan.patreon}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-youtube"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Patreon</strong> | <%= clan.patreon %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.steam.present? %>
		<li>
			<a href="http://store.steampowered.com/<%= "#{clan.steam}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-steam"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Steam</strong> | <%= clan.steam %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.mlg.present? %>
		<li>
			<a href="http://www.majorleaguegaming.com/<%= "#{clan.mlg}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-youtube"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">MLG</strong> | <%= clan.mlg %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
	<% if clan.bungie.present? %>
		<li>
			<a href="https://www.bungie.net/en/Clan/Forum/<%= "#{clan.bungie}" %>" target="_blank">
				<div class="media">
					<span class="media-left media-middle">
						<h3 class="mt0 mb0 media-object text-center" style="width:1.5em;">
							<span class="fa fa-users"></span>
						</h3>
					</span>
					<div class="media-body media-middle">
						<strong class="text-gray">Bungie</strong> | <%= clan.bungie %>
					</div>
				</div>
			</a>
		</li>
	<% end %>
</ul>
