<footer class="bottom">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<h2 style="margin-top: 10px; margin-bottom: 5px;">
					Patent Pending
				</h2>
				<p><small>©2016 CloudMash LLC<br>
					<a href="http://chepri.com/web-design">Web Design</a> by Chepri.</small></p>
			</div>
			<div class="col-md-6 text-center-md">
				<ul class="nav navbar-nav">
					<li><%= link_to "About", about_path %></a></li>
					<li><%= link_to "How To", how_to_path %></li>
					<li><%= link_to "FAQ", faq_path %></li>
					<li><%= link_to "Contact Us", contact_requests_path %></li>
					<li><%= link_to "Privacy Policy", privacy_path %></li>
					<li><%= link_to "Terms of Service", tos_path %></li>
				</ul>

			</div>
			<div class="col-md-3">
				<ul class="list-unstyled list-block pull-right-md">
					<li><a href="https://twitter.com/GameRoster" target="_blank"><span class="fa fa-twitter"></span></a></li>
					<li><a href="https://www.facebook.com/gameroster" target="_blank"><span class="fa fa-facebook"></span></a></li>
					<li><a href="https://www.youtube.com/channel/UCZiG67W805kws0EEtue3ArQ" target="_blank"><span class="fa fa-youtube"></span></a></li>
					<li><a href="mailto:admin@gameroster.com"><span class="fa fa-envelope"></span></a></li>
				</ul>
			</div>
		</div>
		<div class="subfooter text-center">
			Any video game product names, logos, brands, and other trademarks or images featured or referred to within this website are the property of their respective trademark holders. These trademark holders are not affiliated with CloudMash LLC, our services, or our websites. They do not sponsor or endorse CloudMash LLC or any of our online services.
		</div>
	</div>
</footer>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63613569-1', 'auto');
  ga('send', 'pageview');
</script>
</body>
</html>
