<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title" id="myModalLabel"></h4>
			</div>
			<div class="modal-body modal-body-scroll contract-details">

			</div>
			<div class="modal-footer modal-footer-center">
				<h3 class="mt0 modal-footer-label"></h3>
				<div class="modal-footer-button-container"></div>
			</div>
		</div>
	</div>
</div>
