<div class="slidenav">
  <ul class="nav">
    <% if current_user.present? || current_admin.present? %>
      <li><%= link_to "Search", mercenaries_path %></li>
      <li class="clearfix">
        <% unless current_admin %>
          <%= link_to messages_path, class: "clearfix" do %>
            <span>Messages</span>
            <% if current_user.mailbox.inbox(read: false).count > 0 %>
              <span class="notifications-badge">
                <span class="badge"><%= current_user.mailbox.inbox(read: false).count < 9 ? current_user.mailbox.inbox(read: false).count : '9+'  %></span>
              </span>
            <% end %>
          <% end %>
        <% end %>
      </li>
      <% if current_admin %>
        <li><%= link_to 'Manage Cancellations', admin_cancellations_path %></li>
        <li><%= link_to "Manage Systems", admin_game_systems_path %></li>
        <li><%= link_to "Manage Games", admin_games_path %></li>
        <li><%= link_to 'Manage Users', admin_users_path %></li>
        <li><%= link_to 'Manage Reported Content', admin_reports_path %></li>
      <% else %>
        <li><%= link_to 'Post', new_roster_path() %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Players<span class="caret"></span></a>
          <ul class="dropdown-menu account-dropdown" role="menu">
            <li><%= link_to 'View Players', '/players' %></li>
            <li><%= link_to "Rate Players", profiles_path + '/' + current_user.username + '/blocks-and-feedback' %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle action-button" data-toggle="dropdown" role="button" aria-expanded="false">Clans<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "All Clans", clans_path %></li>
            <li><%= link_to "My Clans", clans_path %></li>
            <li><%= link_to "Create/Manage Clan", new_clan_path %></li>
            <% if 5 == 4 %>
              <li><%= link_to "Manage Clan", clans_path %></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Public Games", bounties_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle action-button" data-toggle="dropdown" role="button" aria-expanded="false">Paid 2 Play<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to 'Game Mercenearies', '/looking-for-players' %></li>
          </ul>
        </li>
        <li class=""><%= link_to "My Titles", edit_profile_games_and_systems_path %></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle action-button" data-toggle="dropdown" role="button" aria-expanded="false">My Account<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to "My Profile", profile_path %></li>
            <li><%= link_to "Account Settings", edit_profile_account_path %></li>
            <li><%= link_to "Subscription Status", profile_subscription_path %></li>
          </ul>
        </li>
        <li class=""><%= link_to "Notification Options", edit_profile_notifications_path %></li>
        <li><%= link_to "Sign Out", destroy_user_session_path, method: :delete %></li>
      <% end %>
    <% else %>
      <li class="account-item">
        <%= link_to "Login", new_user_session_path, class: 'action-button' %>
      </li>
      <li class="account-item">
        <%= link_to "Sign Up", new_user_registration_path, class: 'action-button' %>
      </li>
    <% end %>
  </ul>
</div>
