<meta property="fb:app_id" content="1171498722875446">
<% if defined? @public_event %>
	<% if @public_event =='availability' %>
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@GameRoster">
		<meta name="twitter:url" property="og:url" content="<%= request.original_url %>">
		<meta name="twitter:title" property="og:title" content="<%= @event.seller.username %>'s Availability on Game Roster">
		<meta name="twitter:description" property="og:description" content="<%= short_date_time(@event.start_date_time) %> - <%= @event.details %>">
		<meta name="twitter:image" property="og:image" content="<%= (root_url + asset_path(@event.seller.avatar_url)).gsub('//a', '/a') %>">
	<% elsif @public_event == 'roster' %>
		<meta name="twitter:card" content="summary">
		<meta name="twitter:site" content="@GameRoster">
		<meta name="twitter:url" property="og:url" content="<%= request.original_url%>">
		<meta name="twitter:title" property="og:title" content="<%= @event.buyer.username %>'s Event on Game Roster">
		<meta name="twitter:description" property="og:description" content="<%= short_date_time(@event.start_date_time) %> - <%= @event.details %>">
		<meta name="twitter:image" property="og:image" content="<%= (root_url + asset_path(@event.buyer.avatar_url)).gsub('//a', '/a') %>">
	<% end %>
<% else %>
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@GameRoster">
	<meta name="twitter:url" property="og:url" content="<%= request.original_url %>">
	<meta name="twitter:title" property="og:title" content="Game Roster">
	<meta name="twitter:description" property="og:description" content="Coordinate Games & Find Players | One Trusted Site For All Your Games.">
	<meta name="twitter:image" property="og:image" content="<%= (root_url + asset_path('def-cover.jpg')).gsub('//a', '/a') %>">
<% end %>