<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle toggle-slidenav">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar top-bar"></span>
        <span class="icon-bar middle-bar"></span>
        <span class="icon-bar bottom-bar"></span>
      </button>



      <%= link_to root_url, class: 'navbar-brand hidden-md hidden-lg' do %>
        <%= image_tag("gm-logo.png") %>
      <% end %>
    </div>

     <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li class="nav-brand pull-left-md hidden-sm hidden-xs">
            <%= link_to root_url do %>
              <%= image_tag("gm-logo.png") %>
            <% end %>
          </li>

          <li class="account-item pull-right-md">
            <button type="button" class="navbar-toggle toggle-slidenav">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar top-bar"></span>
              <span class="icon-bar middle-bar"></span>
              <span class="icon-bar bottom-bar"></span>
            </button>
          </li>

        </ul>
    </div><!-- /.navbar-collapse -->
  </div>
</nav>

<nav class="navbar navbar-inverse subnav hidden-xs">
  <div class="container">
     <ul class="nav navbar-nav">
        <% if current_user.present? || current_admin.present? %>
          <li><%= link_to 'HOME', dashboard_path %></li>
        <% else %>
          <li><%= link_to 'HOME', about_path %></li>
        <% end %>
        <li><%= link_to 'PLAYERS', '/players' %></li>
        <li><%= link_to 'CLANS', clans_path %></li>
        <li><%= link_to 'PUBLIC GAMES', bounties_path %></li>
        <li><%= link_to 'PAID 2 PLAY', '/looking-for-players' %></li>
        <li><%= link_to 'MY EVENTS', events_path %></li>
     </ul>
  </div>
</nav>
