<%= render "layouts/header" %>
<%= render "layouts/topnav" %>
<%= render "layouts/slidenav" %>

<p class="notice hidden"><%= notice %></p>
<p class="alert hidden"><%= alert %></p>
<%= yield %>

<%= render 'layouts/modal' %>
<%= render "layouts/footer" %>
