<h2 style="font-family: helvetica, arial, sans-serif;">Welcome <%= @email %>!</h2>
			
<p style="font-family: helvetica, arial, sans-serif;">You can confirm your account email through the link below:</p>

<p style="font-family: helvetica, arial, sans-serif;"><%= link_to 'Confirm my Account', confirmation_url(@resource, confirmation_token: @token) %></p>
