<div class="background-block content-area">
	<div class="container">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="devise-block">
					<h1 class="text-center">Sign Up</h1>
					<p class="text-center">Note: Paid 2 Play Game Mercenaries users do not need to sign up for a Game Roster account. Please use your Paid 2 Play Game Mercenaries credentials to
						<%=
							if is_mobile_app?
								'log in'
							else
								link_to "log in", new_user_session_path
							end
						%>.
					</p>
					<%= form_for(resource, url: registration_path(resource_name)) do |f| %>
					<% if resource.errors.any? %>
						<div id="error_explanation">
						  <ul>
						  <% resource.errors.full_messages.each do |message| %>
							<li><%= message %></li>
						  <% end %>
						  </ul>
						</div>
					<% end %>
					<div id="sign_up">
						<h2>Account</h2>
						<div id="page1">
							<div class="form-group" data-validation="required">
								<%= f.email_field :email, autofocus: false, hide_label: :true, class: 'form-control', :placeholder=>"Email", wrapper: { data: { validation: 'required' } } %>
							</div>
							<div class="form-group">
								<%= f.email_field :email_confirmation, hide_label: true, class: 'form-control', :placeholder=>'Confirm Email', wrapper: { data: { validation: 'required' } } %>
							</div>
							<div class="form-group">
								<%= f.text_field :username, hide_label: :true, class: 'form-control', :placeholder=>"User Name", wrapper: { data: { validation: 'required' } } %>
								<span class="help-block">You will not be able to change this name once your account is created.</span>
							</div>
							<div class="form-group">
								<%= f.password_field :password, hide_label: :true, class: 'form-control', :placeholder=>"Password", autocomplete: "off", wrapper: { data: { validation: 'required' } } %>
							</div>
							<div class="form-group">
								<%= f.password_field :password_confirmation, hide_label: :true, class: 'form-control', :placeholder=>"Confirm Password", autocomplete: "off", wrapper: { data: { validation: 'required' } } %>
								<span class="help-block">Please enter the same password as above</span>
							</div>
						</div>
						<h2>Profile</h2>
						<div id="page2">

							<h3>Select Your Systems</h3>

							<div class="console-checks">
								<label class="checkbox-inline">
								  <input type="checkbox" id="ps3" value="ps"> PlayStation 3
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="ps4" value="ps"> PlayStation 4
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="xb360" value="xb"> Xbox 360
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="xb1" value="xb"> Xbox One
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="wii" value="wii"> Wii U
								</label>
								<label class="checkbox-inline">
								  <input type="checkbox" id="pc" value="pc"> PC
								</label>
							</div>
							<br>

							<div class="form-group boolean-console-games" data-console="ps" style="display: none;">
								<%= f.text_field :psn_user_name, hide_label: :true, class: 'form-control', :placeholder=>"PSN Online ID" %>
							</div>
							<div class="form-group boolean-console-games" data-console="xb" style="display: none;">
								<%= f.text_field :xbox_live_user_name, hide_label: :true, class: 'form-control', :placeholder=>"Xbox Gamertag" %>
							</div>
							<div class="form-group boolean-console-games" data-console="wii" style="display: none;">
								<%= f.text_field :nintendo_user_name, hide_label: :true, class: 'form-control', placeholder: "Nintendo Network ID" %>
							</div>
							<div class="form-group boolean-console-games" data-console="pc" style="display: none;">
								<%= f.text_area :pc_user_name, :rows=>"3", hide_label: :true, class: 'form-control', placeholder: "PC User Names. Example Account Type : Username, Steam : MySteamName", :html => '' %>
							</div>

							<div class="form-group">
								<label>Country</label>
								<%= f.select :country, countries_list, {include_blank: true}, {:class => 'form-control', :multiple => false} %>
							</div>
							<p style="margin-top: -.5em;"><span class="helper-text"><small><sup>*</sup>Note: PayPal does not support payments for users in Puerto Rico.</small></span></p>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group">
										<label>Time Zone</label>
										<%= f.time_zone_select :timezone, nil, {}, {:class => 'form-control'}%>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group">
										<label>Languages</label>
									<%= f.select :languages, options_for_select(User.available_languages, resource.languages), {include_blank: true}, {:class => 'form-control', :multiple => true} %>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-sm-6">
									<div class="form-group">
										<label>Age</label>
										<%= f.select :age, options_for_select((13..115).map{|v| [v,v]}, resource.age), {include_blank: true}, {:class => 'form-control'} %>
	      					</div>
	      				</div>
	      				<div class="col-sm-6 age">
									<div class="form-group">
										<label>Display My Age</label>
										<div class="form-group">
											<label class="switch">
												<%= f.check_box :public_age, :class => "switch-input", :id => "toggle-waitlist",  :value => "true" %>
									      <span class="switch-label" data-on="Yes" data-off="No"></span>
									      <span class="switch-handle"></span>
									    </label>
										</div>
									</div>
	      				</div>
								<div class="col-sm-12">
									<span class="help-block">You must be 13 years or older to use this service. We will never display your age without your permission.</span>
								</div>
	      			</div>
							
							<% if !is_mobile_app? %>
							<h3>Promotional Code</h3>
							<p>
								Receive a promotional code? Enter it here to extend your trial.
							</p>
							<div class="form-group">
								<%= text_field_tag :promotional_code, (params[:promotional_code] || ''), :class => 'form-control' %>
							</div>
							<% end %>

							<div class="form-group text-center">
								<div class="checkbox">
									<label>
										<input type="checkbox" id="termsAgreed"> I agree with the
										<%= link_to 'Terms of Service', tosmodal_path, remote: true, data: { toggle: "modal", target: "#myModal"}%>

									</label>
								</div>
					    </div>

						</div>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<section class="content-block">
	<div class="container">
		<br>
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
				<div class="row">
					<div class="col-xs-6 text-center">
						<%= image_tag("gm-logo.png", :style => 'max-height: 69px;') %>
					</div>
					<div class="col-xs-6 text-center">
						<%= link_to 'http://gamestop.com', target: '_blank', class: 'img-link' do %>
							<%= image_tag("GameStopLogo_WhiteRed.png", :style => 'max-height: 70px;') %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {

		// pr0m0
		if(window.location.hash) {
			var hashLink = btoa((window.location.hash).substring(1));

			if (hashLink == 'ZnJlZTJwbGF5') {
				$('#promotional_code').val(atob(hashLink));
			}
		}

	});
</script>
